<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="user">
        <input type="password" name="password">
        <button type="submit">Send</button>
    </form>
</body>
</html>