<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="styles/side.css">
    <link rel="stylesheet" href="styles/writeReport.css">
    <!--Vincular otro CSS para su modulo-->
    <link rel="shortcut icon" href="resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <!--No cambiar ningun elemento en CSS de la sidebar-->
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>

        <main id="principal">
            <div class="title-box">
                
                <img src="static/Icono-Back.svg" alt="Exit-btn">
                <a href="/mantenimientos/reportes" id="title-mantent">Escribir Reporte</a>
            </div>

            <form id="form">
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto">

                <label for="contenido">Contenido</label>
                <textarea id="contenido"></textarea>

                <div id="selectores">
                    <label for="origen">Origen:</label>
                    <select id="origen">
                        <option value="Cocina">Cocina</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                    </select>

                    <label for="destino">  Destino:</label>
                    <select id="destino">
                        <option value="Cocina">Cocina</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                    </select>
                </div>
                <div id="botones">
                    <button class="btn">Enviar</button>
                </div>
            </form>
            <div style="
                display: fixed;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background-color: #f0f0f0;
                border-top: 1px solid #e0e0e0;
            ">
                <p id="notification"></p>
            </div>
        </main>

    </main>
    <script type="module">
        const $ = id => document.getElementById(id)
        const $asunto = $('asunto')
        const $contenido = $('contenido')
        const $origen = $('origen')
        const $destino = $('destino')
        const API_URL = 'http://localhost:1234/mantenimientos/mantenimientos_realizar'
        const $form = $('form')
        const data = {
            asunto: $asunto.value,
            contenido: $contenido.value,
            origen: $origen.value,
            destino: $destino.value
        }
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        try{
            $form.addEventListener('submit', async e => {
                e.preventDefault()
                const response = await fetch(API_URL, options)
                const json = await response.json()
                $('notification').textContent = 'Reporte enviado'
            })
        }
        catch(e){
            console.error(e)
            $('notification').textContent = 'Error al enviar el reporte'
            $('notification').style.color = 'red'
        }
    </script>
</body>
</html>