<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="styles/side.css">
    <link rel="stylesheet" href="styles/writeReport.css">
    <!--Vincular otro CSS para su modulo-->
    <link rel="shortcut icon" href="resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <!--No cambiar ningun elemento en CSS de la sidebar-->
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>

        <div id="principal">
            <div class="title-box">
                
                <img src="static/Icono-Back.svg" alt="Exit-btn">
                <h2 id="title-mantent">Escribir Reporte</h2>
            </div>

            <form>
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto">

                <label for="contenido">Contenido</label>
                <textarea id="contenido"></textarea>

                <div id="selectores">
                    <label for="origen">Origen:</label>
                    <select id="origen">
                        <option value="Cocina">Cocina</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                    </select>

                    <label for="destino">  Destino:</label>
                    <select id="destino">
                        <option value="Cocina">Cocina</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                    </select>
                </div>

                <div id="botones">
                    <button class="btn">Enviar</button>
                    <button class="btn">Solicitar Personal</button>
                    <button class="btn">Solicitar Implementos</button>
                </div>
            </form>
        </div>

    </main>
</body>
</html>