<html>

<head>
    <title>Mantenimiento</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="styles/styles2.css">
    <link rel="stylesheet" type="text/css" href="styles/side.css">
    <link rel="shortcut icon" href="resources/icon.jpeg" type="image/x-icon">
</head>

<body>
    <!-- ESTE ES EL HEADER (BARRA VERDE EN LA PARTE SUPERIOR)-->
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>

    <div class="content-wrapper">
        <!--<div class="maintenance-content">-->
            <!-- ESTE ES EL SIDEBAR-->
            <div id="sidebar">
                <div class="inicio">
                  <a class="side" href="">
                    <img src="../mantenimientos/static/resources/iconos_barra/inicio-green.png" class="side-foto">
                    <p class="side-option">Inicio</p>
                  </a>
                </div>
                <div class="ventas">
                  <a class="side" href="">
                    <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/ventas-green.png">
                    <p class="side-option">Ventas/Salon</p>
                  </a>
                </div>
                <div class="compras">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/compras-green.png">
                  <p class="side-option">Compras</p>
                </a>
                </div>
                <div class="rrhh">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/person-green.png">
                  <p class="side-option">RRHH</p>
                </a>
                </div>
                <div class="inventario">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/inventario-green.png">
                  <p class="side-option">Inventario</p>
                </a>
                </div>
                <div class="mantent">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/mantenimiento-green.png">
                  <p class="side-option">Mantenimiento</p>
                </a>
                </div>
                <div class="cocina">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/cocina-green.png">
                  <p class="side-option">Cocina/Bar</p>
                </a>
                </div>
                <div class="reserv">
                  <a class="side" href="">
                  <img class="side-foto" src="../mantenimientos/static/resources/iconos_barra/reservas-green.png">
                  <p class="side-option">Reservas</p>
                </a>
                </div>
              </div>

            <!--Aqui empieza la cocina para la cosa ingresar tipo Gongzuorenyuan_trabajo personal-->
            <div id="Global_todos">
                <div id="Inicial_logo">
                    <img src="resources/provedores.png" width="35px" height="30px">
                    <p>Agregar Mantenimiento</p>
                </div>

                <div id="Recipiente_div">
                    <div id="tipo_formulario" class="scroll-table" style="display: block;">
                        <div id="Agregar_mas_trabajador" style="display: block;">
                            <form id="formulario_agregar" 
                            action="api/mantenimientos_realizar" method="post">
                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="mantenimiento">Mantenimiento:</label>
                                    <input type="text" id="mantenimiento" name="mantenimiento" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="responsable">Responsable:</label>
                                    <input type="text" id="responsable" name="responsable" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="inicio">Inicio:</label>
                                    <input type="datetime-local" id="inicio" name="inicio">
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="fin">Fin:</label>
                                    <input type="datetime-local" id="fin" name="fin">
                                </div>
                                <button type="submit" id="Button_entregar_formulario" style="display: inline;">Agregar</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <button id="Button_formulario_Inicio" style="display: inline;">Regresar</button>
                        <button id="Button_formulario_Volver" style="display: none;">Volver</button>
                    </div>
                </div>

            </div>
        <!--</div>-->
    </div>
    <script src="scripts/JSAgregarMantenimiento.js"></script>
    <script type="module">
            const button = document.getElementById('AgregrBtn');
            document.addEventListener('submit',async e => {
                e.preventDefault()
                const API_URL = '/api/mantenimientos_realizar'
                const nuevoMantenimiento = {
                mantenimiento: document.getElementById("mantenimiento"),
                responsable: document.getElementById("responsable"),
                inicio: document.getElementById("inicio"),
                fin: document.getElementById("fin"),
                };
                const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(nuevoMantenimiento)
                }
                const response = await fetch(API_URL, options)
                const data = response.json()
                if (response.status !== 200) {
                console.error(data.message)
                }
                alert('Mantenimiento agregado')
            })
      </script>
</body>

</html>