<html>

<head>
    <title>Mantenimiento</title>
    <link rel="stylesheet" href="public/styles/side.css">
    <link rel="stylesheet" href="mantenimientos/static/styles/side.css">
    <link rel="stylesheet" href="mantenimientos/static/styles/styles.css">
    <link rel="stylesheet" href="mantenimientos/static/styles/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="mantenimientos/static/resources/icon.jpeg" type="image/x-icon">
</head>

<body>
    <!-- ESTE ES EL HEADER (BARRA VERDE EN LA PARTE SUPERIOR)-->
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>

    <div class="content-wrapper">
        <div class="maintenance-content">

            <!-- ESTE ES EL SIDEBAR-->
            <div id="sidebar">
                <div class="side inicio">
                    <img src="mantenimientos/static/resources/iconos_barra/inicio-green.png" class="side-foto">
                    <p class="side-option">Inicio</p>
                </div>
                <div class="side ventas">
                    <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/ventas-green.png">
                    <p class="side-option">Ventas/Salon</p>
                </div>
                <div class="side compras">
                    <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                    <p class="side-option">Compras</p>
                </div>
                <div class="side rrhh">
                    <img class="side-foto" src="resources/iconos_barra/person-green.png">
                    <p class="side-option">RRHH</p>
                </div>
                <div class="side inventario">
                    <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                    <p class="side-option">Inventario</p>
                </div>
                <div class="side mantent">
                    <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                    <p class="side-option">Mantenimiento</p>
                </div>
                <div class="side cocina">
                    <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                    <p class="side-option">Cocina/Bar</p>
                </div>
                <div class="side reserv">
                    <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                    <p class="side-option">Reservas</p>
                </div>
            </div>

            <!--Aqui empieza la cocina para la cosa ingresar tipo Gongzuorenyuan_trabajo personal-->
            <div id="Global_todos">
                <div id="Inicial_logo">
                    <img src="resources/provedores.png" width="35px" height="30px">
                    <p>Contactos</p>
                </div>

                <div id="Recipiente_div">
                    <div id="tipo_formulario" class="scroll-table" style="display: block;">
                        <table id="Actual_tabla">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Servicio</th>
                                    <th>Telefono</th>
                                    <th>Cor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amber</td>
                                    <td>reparacion de hornos</td>
                                    <td>Arreglar la cosa</td>
                                    <td>2024-07-01 21:59</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="Agregar_mas_trabajador" style="display: none;">
                        <form id="formulario_agregar">
                            <center>
                                <h2>Agregar el contacto:</h2>
                            </center>
                            <div id="cambia_para_izquierda">

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="trabajo_servicio">Servicio:</label>
                                    <input type="text" id="trabajo_servicio" name="servicio" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="descripcion_trabajo">Telefono:</label>
                                    <input type="text" id="descripcion_trabajo" name="telefono" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="fecha">Correo:</label>
                                    <input type="text" id="fecha" name="correo" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <button id="Button_entregar_formulario">Agregar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div>
                        <button id="Button_formulario_Inicio" style="display: inline;">Regresar</button>
                        <button id="Button_formulario_Volver" style="display: none;">Volver</button>
                        <button id="Button_formulario_Agregar" style="display: inline;">Agregar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="mantenimientos/static/scripts/JSContacto.js"></script>
</body>

</html>