<html>

<head>
    <title>Mantenimiento</title>
    <link rel="stylesheet" href="mantenimiento/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/styles2.css">
</head>

<body>
    <!-- ESTE ES EL HEADER (BARRA VERDE EN LA PARTE SUPERIOR)-->
    <header class="header">
        <h1 class="restaurant-name">BISTROT CHEZ RÉMY</h1>
        <div class="user-info">
            <span class="user-name">Gerente0000</span>
            <img src="resources/iconos_barra/flecha_hacia_abajo_usuario.png" alt="User profile icon"
                class="user-icon" />
        </div>
    </header>

    <div class="content-wrapper">
        <div class="maintenance-content">

            <!-- ESTE ES EL SIDEBAR-->
            <div>
                <nav class="sidebar">
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_inicio.png" alt="Home icon" class="nav-icon" />
                            <span class="nav-text">Inicio</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_ventas.png" alt="Sales icon" class="nav-icon" />
                            <span class="nav-text">Ventas/Salon</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_compras.png" alt="Purchases icon" class="nav-icon" />
                            <span class="nav-text">Compras</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_rrhh.png" alt="HR icon" class="nav-icon" />
                            <span class="nav-text">RRHH</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_inventario.png" alt="Inventory icon"
                                class="nav-icon" />
                            <span class="nav-text">Inventario</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_mantenimiento.png" alt="Maintenance icon"
                                class="nav-icon" />
                            <span class="nav-text">Mantenimiento</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_cocina.png" alt="Kitchen icon" class="nav-icon" />
                            <span class="nav-text">Cocina/Bar</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_reservas.png" alt="Reservations icon"
                                class="nav-icon" />
                            <span class="nav-text">Reservas</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_reporte.png" alt="Reports icon" class="nav-icon" />
                            <span class="nav-text">Reportes</span>
                        </li>
                        <li class="nav-item">
                            <img src="resources/iconos_barra/icono_config.png" alt="Settings icon" class="nav-icon" />
                            <span class="nav-text">Configuraciones</span>
                        </li>
                        <li class="help-item">
                            <img src="resources/iconos_barra/icono_ayuda.png" alt="Help icon" class="nav-icon" />
                            <span class="nav-text">Ayuda</span>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--Aqui empieza la cocina para la cosa ingresar tipo Gongzuorenyuan_trabajo personal-->
            <div id="Global_todos">
                <div id="Inicial_logo">
                    <img src="resources/provedores.png" width="35px" height="30px">
                    <p>Agregar Mantenimiento</p>
                </div>

                <div id="Recipiente_div">
                    <div id="tipo_formulario" class="scroll-table" style="display: block;">
                        <div id="Agregar_mas_trabajador" style="display: block;">
                            <form id="formulario_agregar" action="api/mantenimientos_realizar" method="post">
                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="mantenimiento">Mantenimiento:</label>
                                    <input type="text" id="mantenimiento" name="mantenimiento" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="responsable">Responsable:</label>
                                    <input type="text" id="responsable" name="responsable" required>
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="inicio">Inicio:</label>
                                    <input type="datetime-local" id="inicio" name="inicio">
                                </div>

                                <div class="Ingreso_Inf_Trabajador">
                                    <label for="fin">Fin:</label>
                                    <input type="datetime-local" id="fin" name="fin">
                                </div>
                                <button type="submit" id="Button_entregar_formulario" style="display: inline;">Agregar</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <button id="Button_formulario_Inicio" style="display: inline;">Regresar</button>
                        <button id="Button_formulario_Volver" style="display: none;">Volver</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="scripts/JSAgregarMantenimiento.js"></script>
</body>

</html>