<html>

<head>
  <title>Mantenimiento</title>
  <link rel="stylesheet" href="mantenimientos/static/styles/side.css">
  <link rel="stylesheet" href="mantenimientos/static/styles/styles.css">
  <link rel="stylesheet" href="mantenimientos/static/styles/styles2.css">
  <link rel="shortcut icon" href="mantenimientos/static/resources/icon.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="mantenimientos/static/mantenimiento/styles.css">
  <link rel="stylesheet" href="mantenimientos/static/Especial_calendario.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- ESTE ES EL HEADER (BARRA VERDE EN LA PARTE SUPERIOR)-->

  <header>
    <h1 id="title">BISTROT CHEZ RÉMY</h1>
    <select id="title-combo">
      <option selected>Gerente</option>
      <option>Cerrar Sesion</option>
    </select>
  </header>




  <!-- CONTENEDOR DE TODO EL RESTO DEL SITIO WEB-->

  <div class="content-wrapper">
    <div class="maintenance-content">

      <!-- ESTE ES EL SIDEBAR-->
      <div id="sidebar">
        <div class="side inicio">
          <img src="mantenimientos/static/resources/iconos_barra/inicio-green.png" class="side-foto">
          <p class="side-option">Inicio</p>
        </div>
        <div class="side ventas">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/ventas-green.png">
          <p class="side-option">Ventas/Salon</p>
        </div>
        <div class="side compras">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/compras-green.png">
          <p class="side-option">Compras</p>
        </div>
        <div class="side rrhh">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/person-green.png">
          <p class="side-option">RRHH</p>
        </div>
        <div class="side inventario">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/inventario-green.png">
          <p class="side-option">Inventario</p>
        </div>
        <div class="side mantent">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/mantenimiento-green.png">
          <p class="side-option">Mantenimiento</p>
        </div>
        <div class="side cocina">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/cocina-green.png">
          <p class="side-option">Cocina/Bar</p>
        </div>
        <div class="side reserv">
          <img class="side-foto" src="mantenimientos/static/resources/iconos_barra/reservas-green.png">
          <p class="side-option">Reservas</p>
        </div>
      </div>
      <!--SECCION PRINCIPAL DEL PROGRAMA-->
      <div class="principal-pag1">

        <!--TITULO-->

        <!--CONTENEDOR DE LOS BOTONES PRINCIPALES-->

        <div class="container-botones-principales">
          <h1>Mantenimiento</h1>
          <div class="card" id="Page_contactos">
            <i class="fas fa-user"></i>
          </div>
          <div class="card" id="Page_reportes">
            <i class="fas fa-envelope"></i>
          </div>
        </div>

        <!--CONTENEDOR DEL HISTORIAL-->
        <div class="container">
          <div class="container-historial">
            <div class="left-section">
              <h2 class="historial-tittle">Historial de Mantenimiento</h2>
              <div class="scroll-table">
                <table>
                  <tr>
                    <th>Mantenimiento</th>
                    <th>Responsable</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                  </tr>
                  <tr>
                    <td>Reparación de hornos</td>
                    <td>Julio Tovar</td>
                    <td>2/7 8:00pm</td>
                    <td>En proceso</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <script src="https://kit.fontawesome.com/your-fontawesome-kit-id.js" crossorigin="anonymous"></script>
          <script src="mantenimientos/static/scripts/Conexion_pagina.js"></script>


          <!--Fuente por internet?-->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

          <script type="module">

            //Agregar ruta completa ej: http://localhost:1234/api/mantenimientos_realizar
            fetch('/api/mantenimientos_realizar', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              }
            })
              .then(res => res.json())
              .then(data => {
                const html = data.map(x => {
                  return `
                      <td>${x.responsable}</td>
                      <td>${x.fecha_inicio}</td>
                      <td>${x.descripcion_corta}</td>
                      <td>${x.fecha_final}</td>
                  `
                })

                document.getElementById('detalles').innerHTML = html;
              })
          </script>


        </div>
      </div>
    </div>
</body>

</html>