<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="styles/side.css">
    <link rel="stylesheet" href="styles/principal.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
    <script src="/assets/side.js" defer></script>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>

        <div id="principal">
            <div class="title-box">
                <h2 id="title-mantent">Mantenimiento</h2>
            </div>
            <div class="content">
                <div class="left-side">
                        <table>
                            <thead>
                                <tr>
                                    <th>Mantenimiento</th>
                                    <th>Responsable</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
                <div class="right-side">
                    <div class="btns" id="btn-report">
                        <img class="btn-img" src="resources/report.png" alt="">
                        <a href="/mantenimientos/reportes">Reportes</a>
                    </div>
                    <div class="btns" id="btn-agendar">
                        <a href="/mantenimientos/agendar">Agendar Mantenimiento</a>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>

        // Función para obtener los datos y llenar la tabla
        async function obtenerDatos() {
            try {
                const response = await fetch("/mantenimientos/api/mantenimientos_realizar");

                // Verifica si la respuesta es correcta
                if (!response.ok) {
                    if (response.status === 404) {
                        console.log("La URL '/mantenimientos/api/mantenimientos_realizar' no se encontró.");
                    } else {
                        throw new Error(`Error en la solicitud: ${response.status} - ${response.statusText}`);
                    }
                }

                // Convierte la respuesta a JSON
                const mantenimiento_realizar = await response.json();

                // Llama a la función para llenar la tabla
                llenarTabla(mantenimiento_realizar);

            } catch (error) {
                console.error("Error al obtener los datos:", error);
            }
        }

        // Función para llenar la tabla con los datos
        function llenarTabla(data) {
            const tbody = document.querySelector("table tbody");
            tbody.innerHTML = ""; // Limpia el contenido previo

            data.forEach(item => {
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${item.descripcion_corta}</td>
                    <td>${item.responsable}</td>
                    <td>${item.fecha_inicio}</td>
                    <td>${item.fecha_final}</td>
                `;
                tbody.appendChild(row);
            });
        }


        // Llama a la función para obtener los datos al cargar la página
        document.addEventListener("DOMContentLoaded", obtenerDatos);
        
    </script>
</body>
</html>