<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="styles/side.css">
    <link rel="stylesheet" href="styles/principal.css">
    <link rel="shortcut icon" href="resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>

        <div id="principal">
            <div class="title-box">
                <h2 id="title-mantent">Mantenimiento</h2>
            </div>
            <div class="content">
                <div class="left-side">
                        <table>
                            <thead>
                                <tr>
                                    <th>Mantenimiento</th>
                                    <th>Responsable</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
                <div class="right-side">
                    <div class="btns" id="btn-report">
                        <img class="btn-img" src="resources/report.png" alt="">
                        <a href="/mantenimientos/reportes">Reportes</a>
                    </div>
                    <div class="btns" id="btn-agendar">
                        <a href="#modal1">Agendar Mantenimiento</a>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div id="modal1" class="modalmask">
        <div id="modalbox">
            <a href="#close" title="Close" class="close">X</a>
            <h2>Agendar</h2>
            <hr>
            <form name="">
                <input type="text" placeholder="Descripcion" id="descripcion">
                <input type="text" placeholder="Responsable" id="responsable">
                <label for="inicio-mantenimiento" class="label">Fecha de Inicio</label>
                <input type="date" id="inicio-mantenimiento">
                <label for="final-mantenimiento" class="label">Fecha de Finalizacion</label>
                <input type="date" id="final-mantenimiento">
                <button class="btns" id="btn-modal">Agendar</button>
            </form>
        </div>
    </div>
    <script>
        
        // Función para obtener los datos y llenar la tabla
        async function obtenerDatos() {
            try {
                const response = await fetch('http://localhost:1234/mantenimientos/mantenimientos_realizar')
                if (!response.ok) {
                    if (response.status === 404) {
                        console.log("La URL 'http://localhost:1234/mantenimientos/mantenimientos_realizar' no se encontró.");
                    } else {
                        throw new Error(`Error en la solicitud: ${response.status} - ${response.statusText}`);
                    }
                }

                // Convierte la respuesta a JSON
                const mantenimiento_realizar = await response.json();
                console.log(mantenimiento_realizar)
                // Llama a la función para llenar la tabla
                llenarTabla(mantenimiento_realizar);

            } catch (error) {
                console.error("Error al obtener los datos:", error);
            }
        }
        function llenarTabla(data) {
            const tbody = document.querySelector("tbody");
            tbody.innerHTML = ""; // Limpia el contenido previo
            data.forEach(item => {
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${item.descripcion_corta}</td>
                    <td>${item.responsable}</td>
                    <td>${item.fecha_inicio}</td>
                    <td>${item.fecha_final}</td>
                `;
                tbody.appendChild(row);
            });
        }

        // seleccionamos el boton de enviar el formulario
        const boton_enviar_formulario = document.getElementById("btn-modal")

        // agregamos un evento de click al boton al enviar
        boton_enviar_formulario.addEventListener("click", guardar_datos_formulario);


        // creamos una funcion para guardar los datos en el formulario
        async function guardar_datos_formulario() {

            // obtener las entrada de texto del formulario
            const descripcion = document.getElementById("descripcion").value
            const responsable = document.getElementById("responsable").value
            const inicio_mantenimiento = document.getElementById("inicio-mantenimiento").value
            const final_mantenimiento =  document.getElementById("final-mantenimiento").value

            try {
                const bodyData = {
                    descripcion: descripcion,
                    responsable: responsable,
                    inicio_mantenimiento: inicio_mantenimiento,
                    final_mantenimiento: final_mantenimiento
                };

                const response = await fetch("http://localhost:1234/mantenimientos/mantenimientos_realizar", {
                    method : "POST",
                    headers : { "Content-Type" : "application/json"},
                    body : JSON.stringify(bodyData)
                });

                // Verifica si la respuesta es correcta
                if (!response.ok) {
                    if (response.status === 404) {
                        console.log("La URL 'http://localhost:1234/mantenimientos/mantenimientos_realizar' no se encontró.");
                    } else {
                        throw new Error(`Error en la solicitud: ${response.status} - ${response.statusText}`);
                    }
                }

            } catch (error) {
                console.error("Error al obtener los datos:", error);
            }
        }

        // Llama a la función para obtener los datos al cargar la página
        document.addEventListener("DOMContentLoaded", obtenerDatos);


    </script>
</body>
</html>