<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="styles/side.css">
    <link rel="stylesheet" href="styles/lookReport.css">
    <!--Vincular otro CSS para su modulo-->
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
    <script src="/assets/side.js" defer></script>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <!--No cambiar ningun elemento en CSS de la sidebar-->
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>

        <div id="principal">
            <div class="title-box">
                <img src="static/Icono-Back.svg" alt="Exit-btn">
                <h2 id="title-mantent">Titulo de reporte</h2>
            </div>

            <div id="contenido">
                <p id="texto-contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non labore iure commodi quidem magni illum iste, consequuntur ullam laudantium itaque, numquam inventore exercitationem eius enim repellendus, dolorem velit minima? Accusantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, dolorum! Illum iusto ipsum est nesciunt modi itaque, perferendis ratione aperiam id excepturi quia aut quisquam alias quo quis ipsam? Error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam soluta ducimus sapiente omnis expedita nihil doloremque quas, nam delectus eveniet facere sint ipsum perspiciatis nostrum deserunt asperiores eum. Voluptatem?</p>
                <br>
                <p>Origen:</p><p id="modulo-origen">Modulo de Origen</p>
            </div>
        </div>

    </main>
</body>
</html>