<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles_Gerente.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

   
    <title>Ventas</title>
</head>
<body>
    
    <header class="restaurant-header">
      <h1 class="restaurant-title">BISTROT CHEZ RÉMY</h1>
      <div class="user-info">
        <span class="user-name">Gerente0000</span>
        <img src="Assets\iconos\flecha_hacia_abajo_usuario.png" alt="flecha_hacia_abajo" class="flecha_hacia_abajo" />
      </div>
    </header> 
    
    <main class="main-content">
      <div class="content-wrapper">
        <nav class="sidebar">
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_inicio.png" alt="Home icon" class="sidebar-icon" />
            <span class="sidebar-text">Inicio</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets/iconos/icono_ventas.png" alt="Sales icon" class="sidebar-icon" />
            <span class="sidebar-text">Ventas/Salon</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_compras.png" alt="Purchases icon" class="sidebar-icon" />
            <span class="sidebar-text">Compras</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_rrhh.png" alt="HR icon" class="sidebar-icon" />
            <span class="sidebar-text">RRHH</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_inventario.png" alt="Inventory icon" class="sidebar-icon" />
            <span class="sidebar-text">Inventario</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets/iconos/icono_mantenimiento.png" alt="Mantenimiento icon" class="sidebar-icon" />
            <span class="sidebar-text">Mantenimiento</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_cocina.png" alt="Kitchen icon" class="sidebar-icon" />
            <span class="sidebar-text">Cocina/Bar</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_reservas.png" alt="Reservations icon" class="sidebar-icon" />
            <span class="sidebar-text">Reservas</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_reporte.png" alt="Reports icon" class="sidebar-icon" />
            <span class="sidebar-text">Reportes</span>
          </a>
          <a href="#" class="sidebar-item">
            <img src="Assets\iconos\icono_config.png" alt="Settings icon" class="sidebar-icon" />
            <span class="sidebar-text">Configuraciones</span>
          </a>
          <a href="#" class="sidebar-item help-item">
            <img src="Assets\iconos\icono_ayuda.png" alt="Ayuda icon" class="sidebar-icon" />

            <span class="sidebar-text">Ayuda</span>
          </a>
        </nav>
    
        <section class="main-section">
          <div class="content-area">
            <div class="sales-section">
              <h2 class="sales-title">Ventas</h2>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5ad227dc1d9041478bf65bad4fb8958ed9ea9df9c4ce1b5c5cec0287dbe97415?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="Sales chart" class="sales-chart" />
            </div>
    
            <aside class="sidebar-right">
              <div class="action-panel">
                <h3 class="panel-title">Zona a evaluar</h3>
                <div class="dropdown">
                  <button class="dropbtn">
                      <span>General</span>
                      <img src="Assets\iconos\flecha_hacia_abajo_usuario.png" alt="Dropdown arrow" class="dropdown-arrow">
                  </button>
                  <div class="dropdown-content">
                      <a href="#">Salón</a>
                      <a href="#">Terraza</a>
                      <a href="#">Bar</a>
                  </div>

                </div>
                <button class="action-button" id="openModal1">Apertura/Cierre</button>
                <button class="action-button" id="openModal2">Tasa del dia</button>
                <button class="action-button" id="openModal3">Presupuestos</button>
                <button class="action-button" id="openModal4">Eventos/Cotizacion</button>
                <button class="action-button" id="openModal5">Registros</button>

                <section id="menu-apertura/cierre visible">

                  <div id="modal1" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal1">&times;</span>
                        <h2>Apertura y Cierre de caja</h2>
                        <div class="content-center">
                          <input class="apertura-cierre" type="number" placeholder="monto de apertura/cierre">
                          <button class="btn-caja btn-apertura-cierre">Aperturar</button>
                          <button class="btn-caja">Cerrar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal2" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal2">&times;</span>
                        <h2>Tasa del dia (Bs)</h2>
                        <div class="content-center">
                          <input class="tasa-dia" type="number" placeholder="ingrese la tasa del dia">
                          <button class="btn-caja btn-tasa-dia">Aceptar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal3" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal3">&times;</span>
                        <h2>Presupuestos</h2>
                        <div class="content-center">
                          <input class="presupuesto" type="number" placeholder="monto del presupuesto">
                          <button class="btn-caja btn-presupuesto">Añadir</button>
                          <button class="btn-caja">Editar</button>
                          <button class="btn-caja">Eliminar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal4" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal4">&times;</span>
                        <h2>Eventos/Cotizacion </h2>
                        <p>Contenido de la caja xoxooxoxxoxo</p>
                        <button class="btn-caja btn-eventos">Añadir</button>
                        <button class="btn-caja">Editar</button>
                        <button class="btn-caja">Eliminar</button>
                    </div>
                  </div>

                  <div id="modal5" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal5">&times;</span>
                        <h2>Registros</h2>
                        <p>Contenido de la caja xoxooxoxxoxo</p>
                        <button class="btn-caja btn-resgitro">Actualiar</button>
                    </div>
                  </div>

                </section>
                </div>
              </div>
               
            </aside>
            
            <section class="stats-container">
              <article class="stats-card">
                <h2 class="stats-title">Ingresos</h2>
                <p class="stats-value">$45,678.90</p>
                <p class="stats-change">+20% month over month</p>
              </article>
              <article class="stats-card">
                <h2 class="stats-title">Egresos</h2>
                <p class="stats-value">$2,405</p>
                <p class="stats-change">+33% month over month</p>
              </article>
            </section>
            
          </div>
        </section>
      </div>
    </main>

    <script src="Gerente_logica.js"></script>
    
</body>
</html>