<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/ventas/Vista_Gerente/styles_Gerente.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Ventas</title>
</head>
<body>
    
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    
    <main class="main-content">
      <div class="content-wrapper">
        <div id="sidebar">
          <div class="side inicio">
              <img src="/ventas/Vista_Gerente/resources/iconos_barra/inicio-green.png" class="side-foto">
              <p class="side-option">Inicio</p>
          </div>
          <div class="side ventas">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/ventas-green.png">
              <p class="side-option">Ventas/Salon</p>
          </div>
          <div class="side compras">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/compras-green.png">
              <p class="side-option">Compras</p>
          </div>
          <div class="side rrhh">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/person-green.png">
              <p class="side-option">RRHH</p>
          </div>
          <div class="side inventario">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/inventario-green.png">
              <p class="side-option">Inventario</p>
          </div>
          <div class="side mantent">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/mantenimiento-green.png">
              <p class="side-option">Mantenimiento</p>
          </div>
          <div class="side cocina">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/cocina-green.png">
              <p class="side-option">Cocina/Bar</p>
          </div>
          <div class="side reserv">
              <img class="side-foto" src="/ventas/Vista_Gerente/resources/iconos_barra/reservas-green.png">
              <p class="side-option">Reservas</p>
          </div>
      </div>

    
        <section class="main-section">
          <div class="content-area">
            <div class="sales-section">
              <h2 class="sales-title">Ventas</h2>
              <div class="chart">
                <canvas id="myChart" width="200" height="100"></canvas>
              </div>
            </div>
    
            <aside class="sidebar-right">
              <div class="action-panel">
                
                <button class="action-button" id="openModal1">Apertura/Cierre</button>
                <button class="action-button" id="openModal2">Tasa del dia</button>
                <button class="action-button" id="openModal3">Presupuestos</button>
                <button class="action-button" id="openModal4">Eventos/Cotizacion</button>
                <button class="action-button" id="openModal5">Registros</button>
                <button class="action-button" id="openModal6">Resumen</button>

                <section id="menu-apertura/cierre visible">

                  <div id="modal1" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal1">&times;</span>
                        <h2>Apertura y Cierre de caja</h2>
                        <div class="content-center">
                          <input class="apertura-cierre" type="number" placeholder="monto de apertura/cierre">
                          <button class="btn-caja btn-apertura-cierre">Aperturar</button>
                          <button class="btn-caja">Cerrar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal2" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal2">&times;</span>
                        <h2>Tasa del dia (Bs)</h2>
                        <div class="content-center">
                          <input class="tasa-dia" type="number" placeholder="ingrese la tasa del dia">
                          <button class="btn-caja btn-tasa-dia">Aceptar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal3" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal3">&times;</span>
                        <h2>Presupuestos</h2>
                        <div class="content-center">
                          <input class="presupuesto" type="number" placeholder="monto del presupuesto">
                          <button class="btn-caja btn-presupuesto">Añadir</button>
                          <button class="btn-caja">Editar</button>
                          <button class="btn-caja">Eliminar</button>
                        </div>
                    </div>
                  </div>

                  <div id="modal4" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal4">&times;</span>
                        <h2>Eventos/Cotizacion </h2>
                        <p>Contenido del modal</p>
                        <button class="btn-caja btn-eventos">Añadir</button>
                        <button class="btn-caja">Editar</button>
                        <button class="btn-caja">Eliminar</button>
                    </div>
                  </div>

                  <div id="modal5" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal5">&times;</span>
                        <h2>Registros</h2>
                        <p>Contenido del modal</p>
                        <button class="btn-caja btn-resgitro">Actualizar</button>
                    </div>
                  </div>

                  <div id="modal6" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn" data-modal="modal6">&times;</span>
                        <h2>Resumen de las Ventas</h2>
                        <p>Contenido del modal </p>
                        <section class="stats-container">
                          <article class="stats-card">
                            <h2 class="stats-title">Ingresos</h2>
                            <p class="stats-value">$45,678.90</p>
                            <p class="stats-change">+20% a conparacion del mes pasado</p>
                          </article>
                          <article class="stats-card">
                            <h2 class="stats-title">Egresos</h2>
                            <p class="stats-value">$2,405</p>
                            <p class="stats-change">+33% a conparacion del mes pasado</p>
                          </article>
                        </section>
                        <button class="btn-caja btn-resgitro">Actualizar</button>
                    </div>
                  </div>

                </section>
                </div>
              </div>
               
            </aside>
          </div>
        </section>
      </div>
    </main>

    <script src="/ventas/Vista_Gerente/Gerente_logica.js"></script>
    
</body>
</html>