<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/ventas/Vista_Pedidos/pedidos_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Pedidos</title>
</head>
<body>  
    <section class="menu-container">
        <div class="menu-layout">
        <main class="menu-content">
            <center><h1 class="menu-title">Menu</h1></center>    
            <div class="menu-sections">
            <nav id="botones_categorias" class="menu-nav">
                
                <a  id="menudia" href="#menudia" onclick="cambiar('MenuDia')" class="menu-nav-item ">Menu del Dia</a>

                <a  id="entradas" href="#entradas" onclick="cambiar('Entradas')" class="menu-nav-item ">Entradas</a>
                <a  id="principal" href="#principal" onclick="cambiar('Principal')" class="menu-nav-item ">Principal</a>
                <a  id="vegetariano" href="#vegetariano" onclick="cambiar('Vegetariano')" class="menu-nav-item ">Vegetariano</a>
                <a  id="infantil" href="#infantil" onclick="cambiar('Infantil')" class="menu-nav-item ">Infantil</a>
                <a  id="postres" href="#postres" onclick="cambiar('Postres')" class="menu-nav-item ">Postres</a>
                <a  id="bebidas" href="#bebidas" onclick="cambiar('Bebidas')" class="menu-nav-item ">Bebidas</a>
                <a  id="tragos" href="#Tragos" onclick="cambiar('Tragos')" class="menu-nav-item ">Tragos</a>
                <a  id="vinos" href="#Vinos" onclick="cambiar('Vinos')" class="menu-nav-item ">Vinos</a>
                
            </nav>

            <section id="MenuDia" class="menu-items visible">
            
            </section>

            <section id="Entradas" class="menu-items ">
            
            </section>


            <section id="Principal" class="menu-items">
            
            </section>

            <section id="Postres" class="menu-items">
                
                
            </section>


            <section id="Tragos" class="menu-items">
            
                
            </section>

            <section id="Vinos" class="menu-items">
                
                
            </section>
<!-- -->

            <section id="Bebidas" class="menu-items" >
                
                
            </section>

            
            <section id="Vegetariano" class="menu-items">
                
                
            </section>

            <section id="Infantil" class="menu-items">
                
                
            </section>

    </div>

    </main>

        <aside class="order-section">
            <div class="order-container">
            <h2 class="order-title">Orden</h2>
            <p class="order-table">MESA #</p>
            <div class="order-items" id="order-items">



            </div>
            <hr class="order-divider" />
            <div class="order-total">
                <span class="total-label">Total</span>
                <span   id="total-amount" class="total-amount">000000</span>
            </div>
            <hr class="order-divider" />
            <div class="order-actions">
                <button class="action-button cancel-button">Cancelar</button>
                <button class="action-button confirm-button">Realizar</button>
            </div>
            </div>
        </aside>
        </div>
    </section>





    <script src="/ventas/Vista_Pedidos/pedido_logica.js"></script>


</body>
</html>