<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pedidos_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Pedidos</title>
</head>
<body>  
    <section class="menu-container">
        <div class="menu-layout">
        <main class="menu-content">
            <center><h1 class="menu-title">Menu</h1></center>    
            <div class="menu-sections">
            <nav class="menu-nav">
                
                <a  href="#entradas" onclick="cambiar('Entradas')" class="menu-nav-item">Entradas</a>
                <a  href="#principal" onclick="cambiar('Principal')" class="menu-nav-item">Principal</a>
                <a  href="#vegetariano" onclick="cambiar('Vegetariano')" class="menu-nav-item">Vegetariano</a>
                <a  href="#postres" onclick="cambiar('Postres')" class="menu-nav-item">Postres</a>
                <a  href="#infantil" onclick="cambiar('Infantil')" class="menu-nav-item">Menu Infantil</a>
                <a  href="#bebidas" onclick="cambiar('Bebidas')" class="menu-nav-item">Bebidas</a>
            </nav>


            <section id="Entradas" class="menu-items visible">
                <div class="menu-row">
                    <article id="Ent1" class="menu-item" onclick="addToOrder('Courgette Soup with The Laughing Cow and Mixed Herbs','200.5','Menu/courgettesoup.jpeg','Ent1')">
                        <img loading="lazy" src="Menu\courgettesoup.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Courgette Soup with The Laughing Cow and Mixed Herbs</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$200.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Courgette Soup with The Laughing Cow</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                <article id="Ent2" class="menu-item" onclick="addToOrder('Seasonal Soup with The Laughing Cow and Mixed Herbs','100.5','Menu/seasonalsoupentrada.jpeg','Ent2')">
                    <img loading="lazy" src="Menu\seasonalsoupentrada.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Seasonal Soup with The Laughing Cow and Mixed Herbs</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$100.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Nombre</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">
                    <article id="Ent3" class="menu-item" onclick="addToOrder('Chicken Rillettes with Toast','100.5','Menu/chickenratatouillemed-scaled.jpg','Ent3')">
                        <img loading="lazy" src="Menu\chickenratatouillemed-scaled.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Chicken Rillettes with Toast</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Chicken Rillettes with Toast</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Ent4" class="menu-item" onclick="addToOrder('Spelt and Mushroom Salad with Garlic and Parsley','200.5','Menu/speltandmushroomSalad.jpeg','Ent4')">
                        <img loading="lazy" src="Menu\speltandmushroomSalad.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Spelt and Mushroom Salad with Garlic and Parsley</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$200.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Spelt and Mushroom Salad with Garlic and Parsley</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>


            <section id="Principal" class="menu-items">
                <div class="menu-row">
                    <article id="Pri1" class="menu-item" onclick="addToOrder('Linguine Pasta with Tomato Sauce and Ratatouille','100.5','Menu/luinguinepasta.png','Pri1')">
                        <img loading="lazy" src="Menu\luinguinepasta.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pri2" class="menu-item" onclick="addToOrder('Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille','100.5','Menu/sauteed.png','Pri2')">
                        <img loading="lazy" src="Menu\sauteed.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="menu-row">
                    <article id="Pri2" class="menu-item" onclick="addToOrder('Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille','100.5','Menu/sauteed.png','Pri2')">
                        <img loading="lazy" src="Menu\sauteed.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pri2" class="menu-item" onclick="addToOrder('Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille','100.5','Menu/sauteed.png','Pri2')">
                        <img loading="lazy" src="Menu\sauteed.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
                
            </section>


            <section id="Vegetariano" class="menu-items">
                <div class="menu-row">
                <article id="Veg1" class="menu-item" onclick="addToOrder('Spelt and Mushroom Salad with Garlic and Parsley','200.5','Menu/speltandmushroomSalad.jpeg','Veg1')">
                    <img loading="lazy" src="Menu\speltandmushroomSalad.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Spelt and Mushroom Salad with Garlic and Parsley</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$200.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Spelt and Mushroom Salad with Garlic and Parsley</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>

                <article id="Veg2" class="menu-item" onclick="addToOrder('Linguine Pasta with Tomato Sauce and Ratatouille','100.5','Menu/linguinepastawithtomatosauce.jpeg','Veg2')">
                    <img loading="lazy" src="Menu\linguinepastawithtomatosauce.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$100.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">

                    <article  id="Veg3" class="menu-item" onclick="addToOrder('Vegetable Stew with Herby Plant-Based Meatballs','100.5','Menu/Vegetable Stew.png','Veg3')">
                        <img loading="lazy" src="Menu\Vegetable Stew.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Vegetable Stew with Herby Plant-Based Meatballs</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Vegetable Stew with Herby Plant-Based Meatballs</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Veg4" class="menu-item" onclick="addToOrder('Courgette Soup','100.5','Menu/courgette.png','Veg4')">
                        <img loading="lazy" src="Menu\courgette.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Courgette Soup</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Courgette Soup</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>

            <section id="Postres" class="menu-items">
                <div class="menu-row">
                <article id="Pos1" class="menu-item" onclick="addToOrder('Chocolate Mouse','20','Menu/Chocolate mouse.jpeg','Pos1')">
                    <img loading="lazy" src="Menu\Chocolate mouse.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Chocolate Mouse</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$20</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Chocolate Mouse</h2>    
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                <article id="Pos2" class="menu-item" onclick="addToOrder('Chocolate Cake','5','Menu/chocolatecake.jpg','Pos2')">
                    <img loading="lazy" src="Menu\chocolatecake.jpg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Chocolate Cake</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Chocolate Cake</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">
                    <article id="Pos3" class="menu-item" onclick="addToOrder('Fruit Salad','3','Menu/fruitsalad.png','Pos3')">
                        <img loading="lazy" src="Menu\fruitsalad.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Fruit Salad</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Fruit Salad</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pos4" class="menu-item" onclick="addToOrder('Apple Pie','10','Menu/apple tart.jpg','Pos4')">
                        <img loading="lazy" src="Menu\apple tart.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Apple Pie</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$10</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Apple Pie</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>


            <section id="Infantil" class="menu-items">
                <div class="menu-row">
                <article id="Inf1" class="menu-item" onclick="addToOrder('Courgette Soup with The Laughing Cow','200.5','Menu/courgettesoup.jpeg','Inf1')">
                    <img loading="lazy" src="Menu\courgettesoup.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Courgette Soup with The Laughing Cow</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$200.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Courgette Soup with The Laughing Cow</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                
                </div>
                <div class="menu-row">
                    
                    
                    </div>
                
            </section>
<!-- -->

            <section id="Bebidas" class="menu-items" >
                <div class="menu-row">
                <article class="menu-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details" id="Beb1" onclick="addToOrder('Bebidas 1','100.5','Menu/luinguinepasta.png','Beb1')" >
                        <h2 class="menu-item-name">Bebidas 1</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$200.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Nombre</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                <article class="menu-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Nombre</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$100.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Nombre</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">
                    <article class="menu-item">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Nombre</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Nombre</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article class="menu-item">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Nombre</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Nombre</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                <div class="menu-row">
                    <article class="menu-item">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Nombre</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Nombre</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article class="menu-item">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Nombre</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Nombre</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="menu-row">
                <article class="menu-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                    <h2 class="menu-item-name">Nombre</h2>
                    <div class="item-information">
                        <span class="menu-item-price">$100.5</span>
                        <button class="button-abrir-modal">
                            <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                        </button>
                        <dialog class="modal">
                            <div class="modal-content">
                                <h2>Nombre</h2>
                                <p>ingredientes</p>
                                <button class="button-cerrar-modal">Cerrar</button>
                            </div>
                        </dialog>
                    </div>
                    </div>
                </article>
                <article class="menu-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c60ddd3db10fe8aa9cdecb9295db890cc4b4d0060e3ef5239c2d3234881036fd?apiKey=a04e7bd234a9496eaf95e30022021dfe&" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                    <h2 class="menu-item-name">Nombre</h2>
                    <div class="item-information">
                        <span class="menu-item-price">$100.5</span>
                        <button class="button-abrir-modal">
                            <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                        </button>
                        <dialog class="modal">
                            <div class="modal-content">
                                <h2>Nombre</h2>
                                <p>ingredientes</p>
                                <button class="button-cerrar-modal">Cerrar</button>
                            </div>
                        </dialog>
                    </div>
                    </div>
                </article>
                </div>
            </section>


            </div>
        </main>

        <aside class="order-section">
            <div class="order-container">
            <h2 class="order-title">Orden</h2>
            <p class="order-table">MESA #</p>
            <div class="order-items" id="order-items">



            </div>
            <hr class="order-divider" />
            <div class="order-total">
                <span class="total-label">Total</span>
                <span   id="total-amount" class="total-amount">000000</span>
            </div>
            <hr class="order-divider" />
            <div class="order-actions">
                <button class="action-button cancel-button">Cancelar</button>
                <button class="action-button confirm-button">Realizar</button>
            </div>
            </div>
        </aside>
        </div>
    </section>

    <script src="pedido_logica.js"></script>


</body>
</html>