<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pedidos_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Pedidos</title>
</head>
<body>  
    <section class="menu-container">
        <div class="menu-layout">
        <main class="menu-content">
            <center><h1 class="menu-title">Menu</h1></center>    
            <div class="menu-sections">
            <nav class="menu-nav">
                
                <a  href="#entradas" onclick="cambiar('Entradas')" class="menu-nav-item">Entradas</a>
                <a  href="#principal" onclick="cambiar('Principal')" class="menu-nav-item">Principal</a>
                <a  href="#postres" onclick="cambiar('Postres')" class="menu-nav-item">Postres</a>
                <a  href="#bebidas" onclick="cambiar('Bebidas')" class="menu-nav-item">Bebidas</a>
                <a  href="#Tragos" onclick="cambiar('Tragos')" class="menu-nav-item">Tragos</a>
                <a  href="#Vinos" onclick="cambiar('Vinos')" class="menu-nav-item">Vinos</a>
                
            </nav>


            <section id="Entradas" class="menu-items visible">
                <div class="menu-row">
                    <article id="Ent1" class="menu-item" onclick="addToOrder('Courgette Soup with The Laughing Cow and Mixed Herbs','200.5','Menu/courgettesoup.jpeg','Ent1')">
                        <img loading="lazy" src="Menu\courgettesoup.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Courgette Soup with The Laughing Cow and Mixed Herbs</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$200.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Courgette Soup with The Laughing Cow</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                <article id="Ent2" class="menu-item" onclick="addToOrder('Seasonal Soup with The Laughing Cow and Mixed Herbs','100.5','Menu/seasonalsoupentrada.jpeg','Ent2')">
                    <img loading="lazy" src="Menu\seasonalsoupentrada.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Seasonal Soup with The Laughing Cow and Mixed Herbs</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$100.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Nombre</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">
                    <article id="Ent3" class="menu-item" onclick="addToOrder('Chicken Rillettes with Toast','100.5','Menu/chickenratatouillemed-scaled.jpg','Ent3')">
                        <img loading="lazy" src="Menu\chickenratatouillemed-scaled.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Chicken Rillettes with Toast</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Chicken Rillettes with Toast</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Ent4" class="menu-item" onclick="addToOrder('Spelt and Mushroom Salad with Garlic and Parsley','200.5','Menu/speltandmushroomSalad.jpeg','Ent4')">
                        <img loading="lazy" src="Menu\speltandmushroomSalad.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Spelt and Mushroom Salad with Garlic and Parsley</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$200.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Spelt and Mushroom Salad with Garlic and Parsley</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>


            <section id="Principal" class="menu-items">
                <div class="menu-row">
                    <article id="Pri1" class="menu-item" onclick="addToOrder('Linguine Pasta with Tomato Sauce and Ratatouille','100.5','Menu/luinguinepasta.png','Pri1')">
                        <img loading="lazy" src="Menu\luinguinepasta.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Linguine Pasta with Tomato Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pri2" class="menu-item" onclick="addToOrder('Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille','100.5','Menu/sauteed.png','Pri2')">
                        <img loading="lazy" src="Menu\sauteed.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sautéed Chicken and Potatoes, Mushroom Sauce and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="menu-row">
                    <article id="Pri3" class="menu-item" onclick="addToOrder('Roast Cod, Tomato Sauce, Crushed Potatoes and Ratatouille','100.5','Menu/roastcod.jpeg','Pri3')">
                        <img loading="lazy" src="Menu/roastcod.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Roast Cod, Tomato Sauce, Crushed Potatoes and Ratatouille</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Roast Cod, Tomato Sauce, Crushed Potatoes and Ratatouille</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pri4" class="menu-item" onclick="addToOrder('Roast Chicken with Herbs, Potatoes with Onion','100.5','Menu/roastchi.jpg','Pri4')">
                        <img loading="lazy" src="Menu/roastchi.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Roast Chicken with Herbs, Potatoes with Onion</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Roast Chicken with Herbs, Potatoes with Onion</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
                
            </section>


            <section id="Vinos" class="menu-items">
                <h3>Vinos Rojos</h3>
                <div class="menu-row">     
                <article id="Vin1" class="menu-item vinos" onclick="addToOrder('Cuvée Bistrot Chez Rémy - Fleur de Roc - Saint-Emilion','200.5','Menu/vinorojoFleurderoc.jpeg','Vin1')">
                    <img loading="lazy" src="Menu/vinorojoFleurderoc.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Cuvée Bistrot Chez Rémy - Fleur de Roc - Saint-Emilion</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$200.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Cuvée Bistrot Chez Rémy - Fleur de Roc - Saint-Emilion</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>

                <article id="Vin2" class="menu-item vinos" onclick="addToOrder('Bordeaux AOC - Agneau Rouge - Baron Philippe de Rothschild','100.5','Menu/agneau.jpg','Vin2')">
                    <img loading="lazy" src="Menu/agneau.jpg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Bordeaux AOC - Agneau Rouge - Baron Philippe de Rothschild</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$100.5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Bordeaux AOC - Agneau Rouge - Baron Philippe de Rothschild</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <h3>Vinos Blancos</h3>
                <div class="menu-row">

                    <article  id="Vin3" class="menu-item vinos" onclick="addToOrder('Sancerre AOC - Château de Sancerre - Sauvignon blanc','100.5','    Menu/vino blanco sancerre.jpeg','Vin3')">
                        <img loading="lazy" src="Menu/vino blanco sancerre.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sancerre AOC - Château de Sancerre - Sauvignon blanc</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sancerre AOC - Château de Sancerre - Sauvignon blanc</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>

                    <article id="Vin4" class="menu-item vinos" onclick="addToOrder('Languedoc - Cité de Carcassonne IGP','100.5','Menu/languedoc cite de carcassone.jpg','Vin4')">
                        <img loading="lazy" src="Menu/languedoc cite de carcassone.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Languedoc - Cité de Carcassonne IGP</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$100.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Languedoc - Cité de Carcassonne IGP</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>

            <section id="Postres" class="menu-items">
                <div class="menu-row">
                <article id="Pos1" class="menu-item" onclick="addToOrder('Chocolate Mouse','20','Menu/Chocolate mouse.jpeg','Pos1')">
                    <img loading="lazy" src="Menu\Chocolate mouse.jpeg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Chocolate Mouse</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$20</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Chocolate Mouse</h2>    
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                <article id="Pos2" class="menu-item" onclick="addToOrder('Chocolate Cake','5','Menu/chocolatecake.jpg','Pos2')">
                    <img loading="lazy" src="Menu\chocolatecake.jpg" class="menu-item-image" alt="Menu item" />
                    <div class="menu-item-details">
                        <h2 class="menu-item-name">Chocolate Cake</h2>
                        <div class="item-information">
                            <span class="menu-item-price">$5</span>
                            <button class="button-abrir-modal">
                                <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                            </button>
                            <dialog class="modal">
                                <div class="modal-content">
                                    <h2>Chocolate Cake</h2>
                                    <p>ingredientes</p>
                                    <button class="button-cerrar-modal">Cerrar</button>
                                </div>
                            </dialog>
                        </div>
                    </div>
                </article>
                </div>
                <div class="menu-row">
                    <article id="Pos3" class="menu-item" onclick="addToOrder('Fruit Salad','3','Menu/fruitsalad.png','Pos3')">
                        <img loading="lazy" src="Menu\fruitsalad.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Fruit Salad</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Fruit Salad</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Pos4" class="menu-item" onclick="addToOrder('Apple Pie','10','Menu/apple tart.jpg','Pos4')">
                        <img loading="lazy" src="Menu\apple tart.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Apple Pie</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$10</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Apple Pie</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                
            </section>


            <section id="Tragos" class="menu-items">
                <div class="menu-row">
                    <article id="Tra1" class="menu-item" onclick="addToOrder('Mojito','3','Menu/mojito.jpeg','Tra1')">
                        <img loading="lazy" src="Menu/mojito.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Mojito</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Mojito</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>

                    <article id="Tra2" class="menu-item" onclick="addToOrder('Daiquiri','3','Menu/daiquiri.jpg','Tra2')">
                        <img loading="lazy" src="Menu\daiquiri.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Daiquiri</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Daiquiri</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                
                </div>

                <div class="menu-row">

                    <article id="Tra3" class="menu-item" onclick="addToOrder('Old Fashioned','3','Menu/old fashioned.png','Tra3')">
                        <img loading="lazy" src="Menu/old fashioned.png" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Old Fashioned</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Old Fashioned</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>

                    <article id="Tra4" class="menu-item" onclick="addToOrder('Margarita','3','Menu/margarita.jpg','Tra4')">
                        <img loading="lazy" src="Menu\margarita.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Margarita</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$3</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Margarita</h2>
                                        <p>ingredientes</p>
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    
                    
                </div>
                
            </section>
<!-- -->

            <section id="Bebidas" class="menu-items" >
                <div class="menu-row">
                    <article id="Beb1" class="menu-item" onclick="addToOrder('Coca Cola','2','Menu/cocacola.jpeg','Beb1')">
                        <img loading="lazy" src="Menu/cocacola.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Coca Cola</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$2</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Coca Cola</h2>
                                        
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Beb2" class="menu-item" onclick="addToOrder('Coca Cola Cherry','2.5','Menu/coca cola cheerry.jpeg','Beb2')">
                        <img loading="lazy" src="Menu/coca cola cheerry.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Coca Cola Cherry</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$2.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Coca Cola Cherry</h2>
                                        
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="menu-row">
                    <article id="Beb3" class="menu-item" onclick="addToOrder('Fanta Orange','2.5','Menu/fanta orange.jpeg','Beb3')">
                        <img loading="lazy" src="Menu/fanta orange.jpeg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Fanta Orange</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$2.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Fanta Orange</h2>
                                        
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    <article id="Beb4" class="menu-item" onclick="addToOrder('Sprite','2.5','Menu/sprite.jpg','Beb4')">
                        <img loading="lazy" src="Menu/sprite.jpg" class="menu-item-image" alt="Menu item" />
                        <div class="menu-item-details">
                            <h2 class="menu-item-name">Sprite</h2>
                            <div class="item-information">
                                <span class="menu-item-price">$2.5</span>
                                <button class="button-abrir-modal">
                                    <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                </button>
                                <dialog class="modal">
                                    <div class="modal-content">
                                        <h2>Sprite</h2>
                                        
                                        <button class="button-cerrar-modal">Cerrar</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </article>
                    </div>
                    <div class="menu-row">
                        <article id="Beb5" class="menu-item" onclick="addToOrder('Agua Mineral','1','Menu/vittel.jpeg','Beb5')">
                            <img loading="lazy" src="Menu/vittel.jpeg" class="menu-item-image" alt="Menu item" />
                            <div class="menu-item-details">
                                <h2 class="menu-item-name">Agua Mineral</h2>
                                <div class="item-information">
                                    <span class="menu-item-price">$1</span>
                                    <button class="button-abrir-modal">
                                        <img loading="lazy" src="Assets\iconos\barra-de-menus.png" class="more-info-image" alt="Menu item" />
                                    </button>
                                    <dialog class="modal">
                                        <div class="modal-content">
                                            <h2>Agua Mineral</h2>
                                            <button class="button-cerrar-modal">Cerrar</button>
                                        </div>
                                    </dialog>
                                </div>
                            </div>
                        </article>
                        
                        </div>
                
            </section>


            </div>
        </main>

        <aside class="order-section">
            <div class="order-container">
            <h2 class="order-title">Orden</h2>
            <p class="order-table">MESA #</p>
            <div class="order-items" id="order-items">



            </div>
            <hr class="order-divider" />
            <div class="order-total">
                <span class="total-label">Total</span>
                <span   id="total-amount" class="total-amount">000000</span>
            </div>
            <hr class="order-divider" />
            <div class="order-actions">
                <button class="action-button cancel-button">Cancelar</button>
                <button class="action-button confirm-button">Realizar</button>
            </div>
            </div>
        </aside>
        </div>
    </section>

    <script src="pedido_logica.js"></script>


</body>
</html>