<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una Reservación</title>
    <link rel="stylesheet" href="/reservas/CrearReservas.css">
    <link rel="stylesheet" href="/reservas/side.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <div class="pagina">
        <div id="sidebar">
            <div class="side inicio">
                <img src="/reservas/resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="/reservas/resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="/reservas/resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="/reservas/resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="/reservas/resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="/reservas/resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="/reservas/resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="/reservas/resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservar">
                    <h2>
                        <a class="exit-foto">
                            <img src="/reservas/imagenes/icono_salida.png" alt="regresar">
                        </a>
                        Reservar
                    </h2>
                </div>
                <div class="seccion">
                    <h2>Reservación de mesa</h2>
                </div>
            </div>
            <div class="distribucion">
                <form id="reserva-form" action="/reservas/mesas/CrearReservas/crear" method="POST">
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="date" id="fecha" name="fecha" readonly>
                    </div>
                    <div class="form-group">
                        <label for="personas">Cantidad de personas:</label>
                        <input type="number" id="personas" name="personas" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="hora_inicio">Hora de inicio:</label>
                        <input type="time" id="hora_inicio" name="hora_inicio" required>
                    </div>
                    <div class="form-group">
                        <label for="hora_fin">Hora de finalización:</label>
                        <input type="time" id="hora_fin" name="hora_fin" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre y Apellido:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cédula de Identidad:</label>
                        <input type="text" id="cedula" name="cedula" required>
                    </div>
                    <div class="form-group">
                        <label for="idmesa">Número(s) de mesa:</label>
                        <input type="text" id="idmesa" name="idmesa" readonly>
                    </div>
                    <div class="form-group">
                        <label for="idtelefono">Teléfono:</label>
                        <input type="text" id="idtelefono" name="idtelefono"  required>
                    </div>
                    <div class="form-group">
                        <label for="iddescripcion">Descripción:</label>
                        <input type="text" id="iddescripcion" name="iddescripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="iddescripcion">Zona:</label>
                        <input type="text" id="idzona" name="idzona" required>
                    </div>

                    <div class="form-group">
                        <label for="personas">Cantidad de platos:</label>
                        <input type="number" id="platos" name="platos" min="1">
                    </div>
                    

                    <div class="form-group">
                        <label for="cargo">Preferencias:</label>
                        <% if (comidas) { %>
                            <select name="Preferencias" id="Preferencias">
                                <% for (let i = 0; i < comidas.length; i++) { %>
                                    <option value="<%= i + 1 %>">
                                        <%= comidas[i].nombre %>
                                    </option>
                                <% } %>
                            </select>
                        <% } %>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input id="stringPreferencias" name="stringPreferencias" readonly>
                    </div>
                    
                    <button id="agregarPreferencias">Agregar preferencias</button>
                    <button type="submit">Registrar Reserva</button>
                </form>
            </div>
        </div>
    </div>

    <script>

        //Exit de la FOto
        document.getElementsByClassName('exit-foto')[0].addEventListener('click',()=>{

            let asientos_reserv = document.getElementsByClassName('reservado')

            for (let i = 0; i < asientos_reserv.length; i++) {
                    asientos_reserv[i].classList.remove('reservado')
            }

            window.location.href = '/reservas/mesas'
        })

        //recuperar las mesas seleccionadas y mostrarlas en el campo de numero de mesa
        
        document.addEventListener("DOMContentLoaded", function() {
            var cadena = ""
            let dataToSend = {};
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("fecha").setAttribute("min", today);
            const selectedSeats = JSON.parse(sessionStorage.getItem('selectedSeats')) || {};
            const reservedSeats = JSON.parse(localStorage.getItem('reservedSeats')) || {};
            console.log("Loaded selectedSeats from sessionStorage:", selectedSeats);
            console.log("Loaded reservedSeats from localStorage:", reservedSeats);
            const agregarPreferencias = document.getElementById('agregarPreferencias');

            document.getElementById('reserva-form').addEventListener('submit', (event) => {
                const selectedDate = document.getElementById('fecha').value;
                console.log("Selected date:", selectedDate);

                if (selectedDate && selectedSeats[selectedDate]) {
                    console.log("Selected seats for date:", selectedSeats[selectedDate]);
                    if (!reservedSeats[selectedDate]) {
                        reservedSeats[selectedDate] = {};
                    }
                    selectedSeats[selectedDate].forEach(seatId => {
                        reservedSeats[selectedDate][seatId] = true;
                    });
                    localStorage.setItem('reservedSeats', JSON.stringify(reservedSeats));
                    sessionStorage.removeItem('selectedSeats');
                    alert('Reserva exitosa');
                } else {
                    event.preventDefault();
                    alert('Selecciona al menos una mesa');
                }
            });

            //funcion que recibe la fecha seleccionada y se imprime en el campo de la fecha

            const reservationDateInput = document.getElementById('fecha');
            reservationDateInput.value = JSON.parse(localStorage.getItem('selectedDate')) || today;
            const idMesaInput=document.getElementById('idmesa');

            
                function updateSelectedSeats() {
            const selectedDate = reservationDateInput.value;
            if (selectedSeats[selectedDate]) {
                idMesaInput.value = selectedSeats[selectedDate].join(', ');
            } else {
                idMesaInput.value = '';
            }
            }
            updateSelectedSeats();

            agregarPreferencias.addEventListener('click', (e) => {
                e.preventDefault();
                cantidadPlatos = document.querySelector('#platos').value;
                preferencias = document.querySelector('#Preferencias').value;
                if (cantidadPlatos === '' || preferencias === '') {
                    alert('Debes seleccionar una preferencia y la cantidad de platos');
                    return;
                }
                else{
                    // variable que guarda la cantidad de platos y las preferencias en formato: {"5":7,"6":3,"1":4}
                    dataToSend[preferencias] = parseInt(cantidadPlatos); // Convertir cantidadPlatos a número
                    // Convertir dataToSend a JSON
                    cadena = JSON.stringify(dataToSend);
                    document.querySelector('#platos').value = '';
                    document.querySelector('#Preferencias').value = '';
                    document.querySelector('#stringPreferencias').value = cadena;
                    console.log(document.querySelector('#stringPreferencias').value);
                    e.preventDefault();
                    alert('Preferencia agregada');

                }
            });

            //funcion que limita la cantidad de personas a 4 si se selecciona una mesa

            document.getElementById("personas").addEventListener("input", function(event) {
                const personas = event.target.value;
                const selectedDate = document.getElementById('fecha').value;
                console.log(selectedSeats[selectedDate].length);
                if (selectedSeats[selectedDate] && selectedSeats[selectedDate].length === 1 && personas > 4) {
                    event.target.setCustomValidity("Solo se permiten 4 personas por mesa.");
                } else {
                    event.target.setCustomValidity("");
                }
            });
            
            //funcion que valide que un numero de telefono tenga 11 digitos, si es un numero y si los primeros 4 digitos son: 0412, 0414, 0416, 0424, 0426

            document.getElementById("idtelefono").addEventListener("input", function(event) {
                const telefono = event.target.value;
                if (telefono.length !== 11) {
                    event.target.setCustomValidity("El número de teléfono debe tener 11 dígitos.");
                } else if (isNaN(telefono)) {
                    event.target.setCustomValidity("El número de teléfono debe contener solo números.");
                } else if (!["0412", "0414", "0416", "0424", "0426"].includes(telefono.slice(0, 4))) {
                    event.target.setCustomValidity("El número de teléfono debe comenzar con 0412, 0414, 0416, 0424 o 0426.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

            //funcion que valida si el campo de nombre y apellido tiene al menos 2 palabras y si solo contiene letras

            document.getElementById("nombre").addEventListener("input", function(event) {
                const nombre = event.target.value;
                if (nombre.split(" ").length < 2) {
                    event.target.setCustomValidity("El nombre y apellido deben contener al menos 2 palabras.");
                } else if (!/^[a-zA-Z\s]+$/.test(nombre)) {
                    event.target.setCustomValidity("El nombre y apellido solo pueden contener letras.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

            //funcion que valida si una cedula tiene de 7 a 8 digitos, si es un numero y si el primer numero no es 0 y que sea menor a 35 millones

            document.getElementById("cedula").addEventListener("input", function(event) {
                const cedula = event.target.value;
                if (cedula.length < 7 || cedula.length > 8) {
                    event.target.setCustomValidity("La cédula debe tener entre 7 y 8 dígitos.");
                } else if (isNaN(cedula)) {
                    event.target.setCustomValidity("La cédula debe contener solo números.");
                } else if (cedula[0] === "0") {
                    event.target.setCustomValidity("La cédula no puede empezar con 0.");
                } else if (cedula > 35000000) {
                    event.target.setCustomValidity("La cédula no puede ser mayor a 35 millones.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

            //funcion que limita la cantidad de personas a 4 si se selecciona una mesa

            document.getElementById("personas").addEventListener("input", function(event) {
                const personas = event.target.value;
                const selectedDate = document.getElementById('fecha').value;
                if (selectedSeats[selectedDate] && selectedSeats[selectedDate].length > 0 && personas > 4) {
                    event.target.setCustomValidity("Solo se permiten 4 personas por mesa.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

            //funcion que valida si el campo de nombre y apellido tiene al menos 2 palabras y si solo contiene letras

            document.getElementById("nombre").addEventListener("input", function(event) {
                const nombre = event.target.value;
                if (nombre.split(" ").length < 2) {
                    event.target.setCustomValidity("El nombre y apellido deben contener al menos 2 palabras.");
                } else if (!/^[a-zA-Z\s]+$/.test(nombre)) {
                    event.target.setCustomValidity("El nombre y apellido solo pueden contener letras.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

            //funcion que valida si un numero de telefono tiene 11 digitos, si es un numero y si los primeros 4 digitos son: 0412, 0414, 0416, 0424, 0426

            document.getElementById("idtelefono").addEventListener("input", function(event) {
                const telefono = event.target.value;
                if (telefono.length !== 11) {
                    event.target.setCustomValidity("El número de teléfono debe tener 11 dígitos.");
                } else if (isNaN(telefono)) {
                    event.target.setCustomValidity("El número de teléfono debe contener solo números.");
                } else if (!["0412", "0414", "0416", "0424", "0426"].includes(telefono.slice(0, 4))) {
                    event.target.setCustomValidity("El número de teléfono debe comenzar con 0412, 0414, 0416, 0424 o 0426.");
                } else {
                    event.target.setCustomValidity("");
                }
            });

                document.getElementById("hora_inicio").addEventListener("change", validarHoras);
                document.getElementById("hora_fin").addEventListener("change", validarHoras);

                function validarHoras() {
                const horaInicio = document.getElementById("hora_inicio").value;
                const horaFin = document.getElementById("hora_fin").value;

                if (!horaInicio || !horaFin) {
                    // No hacer nada si alguno de los valores de hora no está presente
                    return;
                }

                const [horaInicioStr, minInicioStr] = horaInicio.split(":");
                const [horaFinStr, minFinStr] = horaFin.split(":");

                const horaInicioInt = parseInt(horaInicioStr, 10);
                const minInicioInt = parseInt(minInicioStr, 10);
                const horaFinInt = parseInt(horaFinStr, 10);
                const minFinInt = parseInt(minFinStr, 10);
                console.log(horaInicioInt, minInicioInt, horaFinInt, minFinInt);

                if (horaInicioInt < 7) {
                    document.getElementById("hora_inicio").setCustomValidity("La hora de inicio debe ser mayor o igual a 7 am.");
                    
                } else if (horaFinInt > 21) {
                    document.getElementById("hora_fin").setCustomValidity("La hora de fin debe ser menor o igual a 9 pm.");
                } else if (horaInicioInt >= horaFinInt) {
                    document.getElementById("hora_inicio").setCustomValidity("La hora de inicio debe ser menor que la hora de fin.");
                } else if (horaFinInt - horaInicioInt < 0.5) {
                    document.getElementById("hora_inicio").setCustomValidity("La reserva debe tener una duración mínima de 30 minutos.");
                } else if (horaFinInt - horaInicioInt > 12) {
                    document.getElementById("hora_inicio").setCustomValidity("La reserva no puede durar más de 12 horas.");
                } else {
                    document.getElementById("hora_inicio").setCustomValidity("");
                    document.getElementById("hora_fin").setCustomValidity("");
                }
                }


                
            
            function validarHorarioRestaurante(horaInicio, horaFin) {
                const horarioInicioRestaurante = 7;
                const horarioFinRestaurante = 21;

                // Validar que la hora de inicio y fin estén dentro del horario de funcionamiento
                const [horaInicioStr, minInicioStr] = horaInicio.split(":");
                const horaInicioInt = parseInt(horaInicioStr, 10);
                const [horaFinStr, minFinStr] = horaFin.split(":");
                const horaFinInt = parseInt(horaFinStr, 10);

                if (isNaN(horaInicioInt) || isNaN(horaFinInt)) {
                    return false;
                }

                if (horaInicioInt < horarioInicioRestaurante || horaInicioInt > horarioFinRestaurante) {
                    return false;
                }

                if (horaFinInt < horarioInicioRestaurante || horaFinInt > horarioFinRestaurante) {
                    return false;
                }

                return true;
            }
        });
    </script>
</body>
</html>


