<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link rel="stylesheet" href="/reservas/mesas.css">
    <link rel="stylesheet" href="/reservas/side.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <div class="pagina">
        <div id="sidebar">
            <div class="side inicio">
                <img src="/reservas/resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="/reservas/resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="/reservas/resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="/reservas/resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="/reservas/resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="/reservas/resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="/reservas/resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="/reservas/resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservar">
                    <h2>
                        <a href="/reservas">
                            <img src="/reservas/imagenes/icono_salida.png" alt="regresar">
                        </a>
                        Reservar
                    </h2>
                </div>
                <div class="seccion">
                    <h2>Mesas</h2>
                </div>
            </div>
            <div class="distribucion">
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>
                <div class="arriba">
                    <div class="interior">
                        <h3>Interior</h3>
                        <div class="button" id="1" data-location="interior">1</div>
                        <div class="button" id="2" data-location="interior">2</div>
                        <div class="button" id="3" data-location="interior">3</div>
                        <div class="button" id="4" data-location="interior">4</div>
                        <div class="button" id="5" data-location="interior">5</div>
                        <div class="button" id="6" data-location="interior">6</div>
                        <div class="button" id="7" data-location="interior">7</div>
                        <div class="button" id="8" data-location="interior">8</div>
                        <div class="button" id="9" data-location="interior">9</div>
                    </div>
                    <div class="exterior">
                        <h3>Exterior</h3>
                        <div class="button" id="10" data-location="exterior">10</div>
                        <div class="button" id="11" data-location="exterior">11</div>
                    </div>
                </div>
                <div class="abajo">
                    <h3>Barra</h3>
                    <div class="button" id="12" data-location="barra">12</div>
                    <div class="button" id="13" data-location="barra">13</div>
                    <div class="button" id="14" data-location="barra">14</div>
                    <div class="button" id="15" data-location="barra">15</div>
                    <div class="button" id="16" data-location="barra">16</div>
                </div>
            </div>
            <button id="mesa">Seleccionar mesa</button>
            <div id="mesas-container"></div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const seats= document.querySelectorAll('.button');
            const reservationDateInput = document.getElementById('fecha');
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("fecha").setAttribute("min", today);
             
            let reservedSeats = JSON.parse(localStorage.getItem('reservedSeats')) || {};
            let selectedSeats = JSON.parse(sessionStorage.getItem('selectedSeats')) || {};
            console.log(reservedSeats);
            console.log(selectedSeats);

            const updateSeats = (selectedDate)=>{
                seats.forEach(seat=>{
                    seat.classList.remove('selected');
                    if(reservedSeats[selectedDate] && reservedSeats[selectedDate][seat.id]){
                        seat.classList.add('reservado');
                        seat.disabled = true;
                    }
                    else{
                        seat.classList.remove('reservado');
                        seat.disabled = false;
                    }
                });
                if (selectedSeats[selectedDate]){
                    selectedSeats[selectedDate].forEach(seatId=>{
                        document.getElementById(seatId).classList.add('selected');
                    });
                }
            }

            reservationDateInput.addEventListener('change', ()=>{
                const selectedDate = reservationDateInput.value;
                localStorage.setItem('selectedDate', JSON.stringify(selectedDate));
                updateSeats(selectedDate);
            });

            seats.forEach(seat=>{
                seat.addEventListener('click', ()=>{
                    const selectedDate = reservationDateInput.value;
                    if (!selectedDate){
                        alert('Selecciona una fecha');
                        return;
                    }
                    if(!seat.classList.contains('reservado')){
                        seat.classList.toggle('selected');
                        if(!selectedSeats[selectedDate]){
                            selectedSeats[selectedDate] = [];
                        }
                        if(seat.classList.contains('selected')){
                            selectedSeats[selectedDate].push(seat.id);
                        }
                        else{
                            selectedSeats[selectedDate] = selectedSeats[selectedDate].filter(id=>id!==seat.id);
                        }
                        sessionStorage.setItem('selectedSeats', JSON.stringify(selectedSeats));
                    
                    }
                    else{
                        alert('Esta mesa ya esta reservada');
                    }
                    
                });
            });

            window.addEventListener('load', ()=>{
                const selectedDate = reservationDateInput.value;
                updateSeats(selectedDate);
            });

            

            // Añadir evento al botón "Seleccionar mesas"
            document.getElementById('mesa').addEventListener('click',()=>{
                const selectedDate = reservationDateInput.value;
                if (!selectedDate || !selectedSeats[selectedDate] || selectedSeats[selectedDate].length === 0){
                    alert('Selecciona una mesa');
                    return;
                }
                window.location.href = `/reservas/CrearReservas`;
            })

            //funcion que manda la fecha al campo de fecha de la vista de reservas
        
            
        });
    </script>
</body>
</html>



