.contenido {
    display: flex;
    width: 60vw;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del elemento padre */
}

.left-side {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height:40vh;
}

.right-side {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
    height: 40vh;
    width: 15vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

ul {
    list-style:none;
    padding: 0;
}

.btn-list {
    margin-top: 10%;
    padding: 10px;
    appearance: none;
    border-radius: 5px;
    background-color: #0F624A;
    border:none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    width: 100%;
}

.btn-list:hover {
    background-color: #137b5d;
}

  th, td {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .button:hover {
    background-color: #45a049;
  }

button {
  transition: all 0.5s;
  height: 40px;
}

button:hover {
  height: 50px;
}

table {
    width:100%;
    top: 0;
    border-collapse: collapse;
}

.left-side {
  width: 60%;
  overflow-y: auto;
}

.contenidop {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

tr {
    font-size: 0.8rem;
}
