<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link rel="stylesheet" href="/reservas/css/mesa.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/reservas/css/reservas.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
    <script src="/assets/side.js" defer></script>
</head>
<body>
    <div class="heading">
        <div class="titulo">
            <h1>BISTROT CHEZ RÉMY</h1>
        </div>
        <div class="usuario">
            <select name="usuario" id="usuario">
                <option value="gerente0000">gerente0000</option>
                <option value="gerente0001">gerente0001</option>
            </select>
        </div>
    </div>
    <div class="pagina">
        <div id="sidebar">
            <div class="side inicio">
                <img src="/Compras/resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="/Compras/resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="/Compras/resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="/Compras/resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="/Compras/resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="/Compras/resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="/Compras/resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="/Compras/resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservaciones">
                   <h2><img src="/reservas/imagenes/icono_salida.png" alt="regresar">Reservar</h2>
                </div>
                <main>
                    <div class="left-side">
                        <h2>Calendario</h2>
                        <div class="date-box">
                            <p class="label">Consultar Fecha: </p>
                            <input type="date" id="fecha">
                        </div>

                        <ul class="list-fecha">

                        </ul>
                    </div>
                    <div class="right-side">
                        <ul>
                            <li><button class="btn-list mesas">Mesas</button></li>
                            <li><button class="btn-list bar">Bar</button></li>
                            <li><button class="btn-list reserva">Crear Reserva</button></li>
                            <li><button class="btn-list evento">Crear Evento</button></li>
                            <li><button class="btn-list delete-reserv">Eliminar Reserva</button></li>
                            <li><button class="btn-list report">Reporte</button></li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>