<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link rel="stylesheet" href="/reservas/css/mesa.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/reservas/css/reservas.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
    <script src="/assets/side.js" defer></script>
</head> 
<body>
    <div class="heading">
        <div class="titulo">
            <h1>BISTROT CHEZ RÉMY</h1>
        </div>
        <div class="usuario">
            <select name="usuario" id="usuario">
                <option value="gerente0000">gerente0000</option>
                <option value="gerente0001">gerente0001</option>
            </select>
        </div>
    </div>
    <div class="pagina">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="#"><img src="/reservas/imagenes/icono_inicio.png" alt="Inicio">Inicio</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_ventas.png" alt="Ventas/Salón">Ventas/Salón</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_compras.png" alt="Compras">Compras</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_rrhh.png" alt="RRHH">RRHH</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_inventario.png" alt="Inventario">Inventario</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_mantenimiento.png" alt="Mantenimiento">Mantenimiento</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_cocina.png" alt="Cocina/Bar">Cocina/Bar</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_reservas.png" alt="Reservas">Reservas</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_reporte.png" alt="Reportes">Reportes</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_config.png" alt="Configuraciones">Configuraciones</a></li>
                    <li><a href="#"><img src="/reservas/imagenes/icono_ayuda.png" alt="Ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservaciones">
                   <h2><img src="/reservas/imagenes/icono_salida.png" alt="regresar">Reservar</h2>
                </div>
                <main>
                    <div class="left-side">
                        <h2>Calendario</h2>
                        <div class="date-box">
                            <p class="label">Consultar Fecha: </p>
                            <input type="date" id="fecha">
                        </div>

                        <ul class="list-fecha">

                        </ul>
                    </div>
                    <div class="right-side">
                        <ul>
                            <li><button class="btn-list mesas">Mesas</button></li>
                            <li><button class="btn-list bar">Bar</button></li>
                            <li><button class="btn-list reserva">Crear Reserva</button></li>
                            <li><button class="btn-list evento">Crear Evento</button></li>
                            <li><button class="btn-list delete-reserv">Eliminar Reserva</button></li>
                            <li><button class="btn-list report">Reporte</button></li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>