<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot - Compras</title>
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/confirmacion.css">
    <link rel="shortcut icon" href="../resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="../resources/iconos_barra/icono_inicio.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="../resources/iconos_barra/icono_ventas.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="../resources/iconos_barra/icono_compras.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="../resources/iconos_barra/icono_rrhh.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="../resources/iconos_barra/icono_inventario.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="../resources/iconos_barra/icono_mantenimiento.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="../resources/iconos_barra/icono_cocina.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="../resources/iconos_barra/icono_reservas.png">
                <p class="side-option">Reservas</p>
            </div>
            <div class="side report">
                <img class="side-foto" src="../resources/iconos_barra/icono_reporte.png">
                <p class="side-option">Reportes</p>
            </div>
            <div class="side config">
                <img class="side-foto" src="../resources/iconos_barra/icono_config.png">
                <p class="side-option">Configuraciones</p>
            </div>
            <div class="side ayuda">
                <img class="side-foto" src="../resources/iconos_barra/icono_ayuda.png">
                <p class="side-option">Ayuda</p>
            </div>
        </div>

        <div id="principal">
            <div class="box-title-prov">
                <img class="title-exit" src="../resources/Icono-Back.svg" alt="Icono - Exit">
                <h2 id="title-prov">Orden de Compra</h2>
            </div>
            <div class="dashboard">
                <div class="formulario">
                    <h3 class="subtitle">Producto</h3>
                    <p id="producto"></p>
                    <h3 class="subtitle">Fecha de Compra</h3>
                    <p id="fecha"></p>
                    <h3 class="subtitle">Cantidad</h3>
                    <p id="cantidad"></p>
                    <h3 class="subtitle">Precio del Producto</h3>
                    <p id="precio"></p>
                    <h3 class="subtitle">Saldo Previo</h3>
                    <p id="previo"></p>
                    <h3 class="subtitle">Saldo Actual</h3>
                    <p id="actual"></p>
                    <h3 class="subtitle">Numero de orden</h3>
                    <p id="orden"></p>
                </div>
                <div class="confirmacion">
                    <img class="foto-cart" src="../resources/check.png" alt="Carrito">
                    <p class="confirm-msg">Compra realizada con Exito</p>
                    <button id="btn-regis">Regresar</button>
                </div>
                
            </div>
        </div>
    </main> 
    <script>
        //Textos donde Ingresar los datos
        producto = document.getElementById('producto')
        fecha = document.getElementById('fecha')
        cantidad = document.getElementById('cantidad')
        precio = document.getElementById('precio')
        //Saldos Previo - Actual
        previo = document.getElementById('previo')
        actual = document.getElementById('actual')
        //numero de Orden
        orden = document.getElementById('orden')


        let exit = document.getElementsByClassName('title-exit')[0]
        //Boton de Exit

        exit.onclick = function(){
            window.location.href = '/compra'
        }


        //Boton de Regresar
        let btn_exit = document.getElementById('btn-regis')

        btn_exit.onclick = function(){
            window.location.href = '/compra'
        }
    </script>
</body>
</html>