<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BISTROT CHEZ RÉMY - Menu</title>
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/side.css">
    <link rel="shortcut icon" href="/Compras/resources/icon.jpeg" type="image/x-icon">
    <script src="/assets/logout.js" defer></script>
</head>

<body>
    <section class="menu-container">
        <header>
            <h1 id="title">BISTROT CHEZ RÉMY</h1>
            <select id="title-combo">
                <option selected>Gerente</option>
                <option>Cerrar Sesion</option>
            </select>
        </header>
        <main class="main-content">
            <div class="content-wrapper">
                <div class="menu-header">
                    <div class="menu-title-container">
                        <h2 class="menu-title">Menu</h2>
                        <p class="menu-subtitle">RECETAS</p>
                    </div>
            
                </div>
                <div class="menu-content">
            <img src="iconos_barra/icono_salida.png" class="icono" onclick= "window.location.href = '/cocina/produccion';" />

                    <div class="menu-layout">
                        <nav class="menu-categories">
                            
                            <button class="category-button entradas verdecito" onclick="window.location.href = '/cocina/Entradas';" id = "boton Entradas" >Entradas</button>
                            <button class="category-button platos-fuertes verdecito" onclick="window.location.href = '/cocina/PlatosFuertes';" id = "boton Entradas">Platos Fuertes</button>
                            <button class="category-button vegetariano verdecito" onclick="window.location.href = '/cocina/Vegetariano';" id = "boton Vegetariano" >Vegetariano</button>
                            <button class="category-button postres verdecito" onclick="window.location.href = '/cocina/Postres';" id = "boton Postres" style="background-color: #0f624a; color: #fff; "">Postres</button>
                            <button class="category-button menu-ninos" onclick="window.location.href = '/cocina/infantil';" id = "boton infantil" style="background-color: white; color: #0f624a;  box-shadow: 0px 0px 3px rgba(1, 95, 6, 0.618)">Menu de niños</button>
                            <button class="category-button bebidas verdecito" onclick="window.location.href = '/cocina/Bebidas';" id = "boton Bebidas">Bebidas</button>

                        </nav>
                        <section class="menu-items">
                            <div class="items-container">
                                <div class="items-grid">
                                    <article class="menu-item">
                                        <img src="Newfolder/patats.jpeg" alt="Chocolate Mouse" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Patatas con Cebolla</h3>
                                            <p class="item-description">papa, aceite, cebolla, pimenton</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/linguinipastaconratatouille.jpeg" alt="Chocolate Cake" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Pasta Linguini</h3>
                                            <p class="item-description">tomate, pasta, berenjena, cebolla, aceite</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/pure.jpeg" alt="Fruit Salad" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Patatas trituradas</h3>
                                            <p class="item-description">papa, aceite, ajo, cebollin</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/Screenshot_15-7-2024_102959_www.bing.com.jpeg" alt="Apple tart" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Papas fritas y ratatouille</h3>
                                            <p class="item-description">papa, aceite, cebollin, tomate, berenjena, aji</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>