<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/side.css">
    <link rel="stylesheet" href="css/pageinstu.css">
    <title>Instrumentos - Bistrot Chez Rémy</title>
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main class="main-content">

        <section class="content-wrapper">

            <div class="left-side">
                <div class="title-2">
                    <img class="img-exit" src="iconos_barra/icono_salida.png" onclick= "window.location.href = '/cocina/produccion';" />
                    <h2 class="section-title">Instrumentos</h2>
                </div>
                <form>
                    <label for="searchInput" class="visually-hidden">Buscar instrumentos</label>
                    <input type="number" id="searchInput" class="search-input" placeholder="Reportar por ID" min="1"/>
                </form>
                <button class="report-button">Reportar falla</button>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="header-cell">Id</th>
                            <th class="header-cell">Nombre</th>
                            <th class="header-cell">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tBody">
                        <tr class="table-row">
                            <td class="row-cell">1</td>
                            <td class="row-cell-name">Cocina A</td>
                            <td class="row-cell">Funciona</td></tr>
                            <tr class="table-row"><td class="row-cell">2</td
                                ><td class="row-cell-name">Cocina B</td><td class="row-cell">Funciona</td>
                            </tr><tr class="table-row"><td class="row-cell">3</td>
                                <td class="row-cell-name">Cocina C</td><td class="row-cell">Funciona</td>
                            </tr><tr class="table-row"><td class="row-cell">4</td><td class="row-cell-name">Cocina D</td>
                                <td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">5</td>
                                    <td class="row-cell-name">Horno A</td><td class="row-cell">Funciona</td></tr>
                                    <tr class="table-row"><td class="row-cell">6</td><td class="row-cell-name">Horno B</td>
                                        <td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">7</td>
                                            <td class="row-cell-name">Horno C</td><td class="row-cell">Funciona</td></tr>
                                            <tr class="table-row"><td class="row-cell">8</td><td class="row-cell-name">Horno D</td>
                                                <td class="row-cell">No funciona</td></tr><tr class="table-row"><td class="row-cell">9</td>
                                                    <td class="row-cell-name">Sarten A</td><td class="row-cell">Funciona</td></tr>
                                                    <tr class="table-row"><td class="row-cell">10</td><td class="row-cell-name">Sarten B</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">11</td><td class="row-cell-name">Sarten C</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">12</td><td class="row-cell-name">Colador A</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">13</td><td class="row-cell-name">Colador B</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">14</td><td class="row-cell-name">Olla A</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">15</td><td class="row-cell-name">Olla B</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">16</td><td class="row-cell-name">Olla C</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">17</td><td class="row-cell-name">Nevera A</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">18</td><td class="row-cell-name">Nevera B</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">19</td><td class="row-cell-name">Coctelera A</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">20</td><td class="row-cell-name">Coctelera B</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">21</td><td class="row-cell-name">Coctelera C</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">22</td><td class="row-cell-name">Coctelera D</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">23</td><td class="row-cell-name">Batidora A</td><td class="row-cell">Funciona</td></tr><tr class="table-row"><td class="row-cell">24</td><td class="row-cell-name">Batidora B</td><td class="row-cell">Funciona</td></tr></tbody>
                </table>
            </div>
        </section>
    </main>
    <script src="/cocina/scriptInstrumentos.js"></Script>
</body>
</html>