<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BISTROT CHEZ RÉMY</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .bistrot-header {
            background-color: #013d1f;
            display: flex;
            width: 100%;
            gap: 20px;
            color: #fff;
            padding: 34px 55px;
        }
        .bistrot-title {
            letter-spacing: -0.24px;
            flex-grow: 1;
            margin: auto 0;
            font: 24px 'Krona One', sans-serif;
        }
        .user-info {
            border-radius: var(--sds-size-radius-200);
            border-color: rgba(255, 255, 255, 1);
            border-style: solid;
            border-width: 1px;
            background-color: #013d1f;
            display: inline-flex;
            justify-content: flex-end ;
            position: absolute;
            right: 0;
            width: 10%;
            transform: translateY(-10px);
            margin-right: 30px;
            margin-bottom: 20px;
            gap: 12px;
            font-size: 15px;
            white-space: nowrap;
            padding: 8px 16px;
        }
        .user-name {
            font-family: 'Inter', sans-serif;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .user-avatar {
            aspect-ratio: 1;
            width: 24px;
        }
        .menu-container {
            border-radius: 15px;
            box-shadow: 0 1px 32.5px 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            align-self: center;
            display: flex;
            margin-top: 49px;
            width: 100%;
            max-width: 1314px;
            align-items: center;
            justify-content: center;
            padding: 70px 60px;
        }
        .menu-content {
            display: flex;
            margin-bottom: 21px;
            width: 100%;
            max-width: 1093px;
            flex-direction: column;
        }
        .menu-header {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            line-height: 150%;
            justify-content: space-between;
        }
        .menu-title-wrapper {
            align-self: end;
            display: flex;
            margin-top: 25px;
            flex-direction: column;
            font-weight: 700;
        }
        .menu-title {
            color: #0f624a;
            font: 40px 'Poppins', sans-serif;
        }
        .menu-subtitle {
            color: #6c6c6c;
            margin-top: 15px;
            font: 15px 'Poppins', sans-serif;
        }

        .menu-layout {
            margin-top: 67px;
            display: flex;
            gap: 20px;
        }
        .menu-categories {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            color: #fff;
            font-weight: 700;
            width: 23%;
        }
        .category-btn {
            font-family: 'Inter', sans-serif;
            border-radius: 5px;
            background-color: #0f624a;
            padding: 14px 16px;
            margin-bottom: 20px;
            text-align: center;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        .menu-items {
            display: flex;
            flex-direction: column;
            width: 77%;
        }
        .menu-row {
            display: flex;
            gap: 20px;
            margin-bottom: 17px;
        }
        .menu-item {
            border-radius: 10px;
            background-color: #efefef;
            display: flex;
            gap: 20px;
            font-weight: 700;
            line-height: 150%;
            width: 100%;
        }
        .item-image {
            aspect-ratio: 0.91;
            width: 188px;
            max-width: 100%;
            object-fit: cover;
        }
        .item-details {
            display: flex;
            margin-top: 28px;
            flex-direction: column;
            flex: 1;
        }
        .item-name {
            color: #000;
            font: 14px 'Poppins', sans-serif;
        }
        .item-description {
            color: #929292;
            margin-top: 19px;
            font: 11px 'Poppins', sans-serif;
        }
        @media (max-width: 991px) {
            .bistrot-header {
                max-width: 100%;
                flex-wrap: wrap;
                padding: 20px;
            }
            .user-info {
                white-space: initial;
            }
            .menu-container {
                max-width: 100%;
                margin-top: 40px;
                padding: 20px;
            }
            .menu-content {
                max-width: 100%;
            }
            .menu-header {
                max-width: 100%;
                flex-wrap: wrap;
            }
            .menu-title-wrapper {
                white-space: initial;
            }
            .edit-menu-btn {
                padding: 10px 20px;
            }
            .menu-layout {
                max-width: 100%;
                margin-top: 40px;
                flex-direction: column;
            }
            .menu-categories {
                width: 100%;
                margin-top: 40px;
            }
            .category-btn {
                white-space: initial;
                padding: 14px 20px;
            }
            .menu-items {
                width: 100%;
                margin-top: 40px;
            }
            .menu-row {
                flex-direction: column;
            }
            .menu-item {
                margin-top: 15px;
                white-space: initial;
            }
            .orders-icon {
            aspect-ratio: 1.23;
            width: 50px;
            align-self: start;
    }
        }
    </style>
</head>
<body>
    <header class="bistrot-header">
        <h1 class="bistrot-title">BISTROT CHEZ RÉMY</h1>
        <div class="user-info">
            <span class="user-name">Gerente0000</span>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd69caf513a031a441b0ae2c28050f8e01024dfd2f15fb76144d64f2f7d9df8f?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="User avatar" class="user-avatar" />
        </div>
    </header>
    <main class="menu-container">
        <img src="iconos_barra/icono_salida.png" alt="Orders icon" class="orders-icon" onclick="window.history.back();" />
        <section class="menu-content">
            <div class="menu-header">
                <div class="menu-title-wrapper">
                    <h2 class="menu-title">Menu</h2>
                    <p class="menu-subtitle">RECETAS</p>
                </div>

            </div>
            <div class="menu-layout">
                <nav class="menu-categories">
                    <button class="category-button entradas" onclick="window.location.href = '/cocina/Entradas';" id = "boton Entradas" >Entradas</button>
                        <button class="category-button platos-fuertes" onclick="window.location.href = '/cocina/PlatosFuertes';" id = "boton Entradas">Platos Fuertes</button>
                        <button class="category-button vegetariano" onclick="window.location.href = '/cocina/Vegetariano';" id = "boton Vegetariano" style="background-color: white; color: #0f624a;  box-shadow: 0px 0px 3px rgba(1, 95, 6, 0.618)">Vegetariano</button>
                        <button class="category-button postres" onclick="window.location.href = '/cocina/Postres';" id = "boton Postres" style="background-color: #0f624a; color: #fff; "">Postres</button>
                        <button class="category-button menu-ninos" onclick="window.location.href = '/cocina/infantil';" id = "boton infantil">Menu de niños</button>
                        <button class="category-button bebidas" onclick="window.location.href = '/cocina/Bebidas';" id = "boton Bebidas">Bebidas</button>
                </nav>
                <div class="menu-items">
                    <div class="menu-row">
                        <article class="menu-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c32c30666024b77e74c4e313d6a30f21176cc19c342eebd284a9489b038246b?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="Menu item" class="item-image" />
                            <div class="item-details">
                                <h3 class="item-name">Nombre</h3>
                                <p class="item-description"></p>
                            </div>
                        </article>
                        <article class="menu-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f24e268e5e5fbcba8734dcdde95b4521544225945ac4b08ce315da568be507e?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="Menu item" class="item-image" />
                            <div class="item-details">
                                <h3 class="item-name">Nombre</h3>
                                <p class="item-description"></p>
                            </div>
                        </article>
                    </div>
                    <div class="menu-row">
                        <article class="menu-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/626ab9327ba252f16a98b3eb4525904e7198bfc3d5ece132420a91b0b6654fd1?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="Menu item" class="item-image" />
                            <div class="item-details">
                                <h3 class="item-name">Nombre</h3>
                                <p class="item-description"></p>
                            </div>
                        </article>
                        <article class="menu-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bedf8ac64da3233a4f84d73b1e942348162a619024ade8c5f65e3caecf483fc9?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="Menu item" class="item-image" />
                            <div class="item-details">
                                <h3 class="item-name">Nombre</h3>
                                <p class="item-description"></p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
