<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot</title>
    <link rel="stylesheet" href="css/side.css">
    <link rel="stylesheet" href="css/platos.css">
    <link rel="stylesheet" href="css/Menu.css">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div class="content-box">
            <div class="title-box">
                <img id="btn-exit" src="iconos_barra/icono_salida.png" onclick="window.location.href= '/cocina/produccion';" alt="">
                <h2>Menu</h2>
            </div>
            <div class="subtitle-box">
                <h3>Recetas</h3>
            </div>
            <div class="menu-box">
                <div class="box-btns">
                    <button class="nav-btns verdecito"  onclick="window.location.href = '/cocina/planreservas';" >Plan de <br>produccion de reservas</button>
                    <button class="nav-btns verdecito" id="elegir-menu" onclick="window.location.href = '/cocina/elegirmenudeldia';" >Elegir Menu del Dia</button>
                    <button class="nav-btns" id="menu-day"  onclick="window.location.href = '/cocina/Menudeldia';"style="background-color: white; color: #0f624a;  box-shadow: 0px 0px 3px rgba(1, 95, 6, 0.618)">Menu Del dia</button>
                    <button class="nav-btns verdecito" id="create-plato"  onclick="window.location.href = '/cocina/creadordefichasplato';">Crear nuevo plato</button>
                    <button class="nav-btns verdecito" id="new-plato" onclick="window.location.href = '/cocina/NuevosPlatos';">Nuevos Platos</button>
                </div>
                <div class="box-table">
                    <table id="tabla-platos">
                        <thead>
                            <tr class="table-header">
                                <th class="header-cell">Id</th>
                                <th class="header-cell">Nombre</th>
                                <th class="header-cell">Estado</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr class="table-row">
                                <td class="row-cell">1</td>
                                <td class="row-cell-name">sopa de calabacin de la vaca que rie </td>
                                <td class="row-cell">plato del dia</td></tr>
                                <tr class="table-row"><td class="row-cell">2</td
                                    ><td class="row-cell-name">Cocina B</td><td class="row-cell">plato del dia</td>
                                </tr><tr class="table-row"><td class="row-cell">3</td>
                                    <td class="row-cell-name">Cocina C</td><td class="row-cell">plato del dia</td>
                                </tr><tr class="table-row"><td class="row-cell">4</td><td class="row-cell-name">Cocina D</td>
                                    <td class="row-cell">plato del dia</td>
                
                </div>
                </div>
                </table>
                </div>
               
            </div>
        </div>
    </main>
    <script src="/cocina/scriptMenuDia.js" defer></script>
</body>
</html>