<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BISTROT CHEZ RÉMY - Menu</title>
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/side.css">
    <link rel="shortcut icon" href="/Compras/resources/icon.jpeg" type="image/x-icon">
    <script src="/assets/logout.js" defer></script>
</head>
<body>
    <section class="menu-container">
        <header>
            <h1 id="title">BISTROT CHEZ RÉMY</h1>
            <select id="title-combo">
                <option selected>Gerente</option>
                <option>Cerrar Sesion</option>
            </select>
        </header> verdecito
        <main class="main-content">
            <div class="content-wrapper">
                <div class="menu-header">
                    <div class="menu-title-container">
                        <h2 class="menu-title">Menu</h2>
                        <p class="menu-subtitle">RECETAS</p>
                    </div>
            
                </div>
                <div class="menu-content">
            <img src="iconos_barra/icono_salida.png" class="icono" onclick= "window.location.href = '/cocina/produccion';" />

                    <div class="menu-layout">
                        <nav class="menu-categories">
                            
                            <button class="category-button entradas verdecito" onclick="window.location.href = '/cocina/Entradas';" id = "boton Entradas" >Entradas</button>
                            <button class="category-button platos-fuertes verdecito" onclick="window.location.href = '/cocina/PlatosFuertes';" id = "boton Entradas">Platos Fuertes</button>
                            <button class="category-button vegetariano verdecito" onclick="window.location.href = '/cocina/Vegetariano';" id = "boton Vegetariano" ">Vegetariano</button>
                            <button class="category-button postres" onclick="window.location.href = '/cocina/Postres';" id = "boton Postres" style="background-color: white; color: #0f624a;  box-shadow: 0px 0px 3px rgba(1, 95, 6, 0.618)">Postres</button>
                            <button class="category-button menu-ninos verdecito" onclick="window.location.href = '/cocina/infantil';" id = "boton infantil">Menu de niños</button>
                            <button class="category-button bebidas verdecito" onclick="window.location.href = '/cocina/Bebidas';" id = "boton Bebidas">Bebidas</button>

                        </nav>
                        <section class="menu-items">
                            <div class="items-container">
                                <div class="items-grid">
                                    <article class="menu-item">
                                        <img src="Newfolder/Chocolate mouse.jpeg" alt="Chocolate Mouse" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Mouse de chocolate</h3>
                                            <p class="item-description">harina, leche, azúcar, choolate </p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/chocolatecake.jpg" alt="Chocolate Cake" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Pastel de chocolate</h3>
                                            <p class="item-description">harina, leche, azúcar, chocolate, huevo</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/fruitsalad.webp" alt="Fruit Salad" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Ensalada de frutas</h3>
                                            <p class="item-description">fresa,  patilla, manzana , banana</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/apple tart.jpg" alt="Apple tart" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">tarta de manzana</h3>
                                            <p class="item-description">harina, leche, azúcar, manzana, huevo</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
</html>