<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja</title>
    <link rel="stylesheet" type="text/css" href="/ventas/Vista_Caja/Caja_Styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="restaurant-header">
        <h1 class="restaurant-title">BISTROT CHEZ RÉMY</h1>
        <div class="user-info">
            <span class="user-name">Gerente0000</span>
            <img src="/ventas/Vista_Caja/Assets\iconos\flecha_hacia_abajo_usuario.png" alt="flecha_hacia_abajo" class="flecha_hacia_abajo" />
        </div>
    </header>
    <div class="Contenido"> 
            <section id="General" class="Mesas visible">
                <section class="table-grid">
                    <article class="table-card">
                    <header class="table-header">
                    <h2 class="table-name">MESA 01</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                    <h2 class="table-name">MESA 02</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 03</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 04</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 05</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 06</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 07</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 08</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 09</h2>
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                </section>
            </section>
                <section id="Terraza" class="Mesas">
                    <section class="table-grid">
                        <article class="table-card2">
                        <header class="table-header">
                        <h2 class="table-name">MESA 01</h2>
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                        </article>
                            
                            <article class="table-card2">
                                <header class="table-header">
                                <h2 class="table-name">MESA 02</h2>
                                </header>
                                <p class="table-status">DISPONIBLE</p>
                                </article>
                    </section> 
                
                </section>
        </section>

        <aside class="sidebar-right">
            <section class="navigation-bar">
                <div class="nav-tabs">
                    <button id="tab1" class="nav-tab nav-tab-active">General</button>
                    <button id="tab2" class="nav-tab nav-tab-inactive">Terraza</button>
                </div>
            </section>
            <section class="action-panel">
                <button class="action-button button-abrir-modal" onclick="ImprimirCuenta()">Imprimir cuenta</button>
                <div id="divModal"></div>
                <button class="action-button button-abrir-modal" onclick="PagoCuenta()">Pagar</button>
            </section>
        </aside>
        
        

        
    </div>
    <script src="/ventas/Vista_Pedidos/Caja.js"></script>
</body>
</html>