<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Caja_Styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="restaurant-header">
        <h1 class="restaurant-title">BISTROT CHEZ RÉMY</h1>
        <div class="user-info">
            <span class="user-name">Gerente0000</span>
            <img src="Assets\iconos\flecha_hacia_abajo_usuario.png" alt="flecha_hacia_abajo" class="flecha_hacia_abajo" />
        </div>
    </header>
    <img class="Salida" src="https://cdn.builder.io/api/v1/image/assets/TEMP/24e8ea7441b40eba1a0b39037aed1985166c6c710a3f018373dddb036fbebca0?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="Navigation icon" class="nav-icon" />

    <div class="Contenido">
        
        <section class="table-grid">
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 01</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 02</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 03</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 04</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 05</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 06</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 07</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 08</h2>
            </header>
            </article>
            <article class="table-card">
            <header class="table-header">
                <div class="table-info">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/68dca3f7abe13a8c01dde7f28313279ebd659e374a4d0d097498df24d5f1c158?apiKey=a04e7bd234a9496eaf95e30022021dfe&" alt="" class="table-icon" />
                <span class="table-number">0</span>
                </div>
                <h2 class="table-name">MESA 09</h2>
            </header>
            </article>
            
        </section>

        <aside class="sidebar-right">
            <section class="navigation-bar">
                    <div class="nav-tabs">
                        <button class="nav-tab nav-tab-active">Mesas</button>
                        <button class="nav-tab nav-tab-inactive">Bar</button>
                        <button class="nav-tab nav-tab-inactive">Terraza</button>
                        <button class="nav-tab nav-tab-inactive">Salon</button>
                    </div>
            </section>
            <section class="action-panel">
                <button class="action-button">Eliminar cuenta</button>
                <button class="action-button">Imprimir cuenta</button>
                <button class="action-button">Pagar</button>
            </section>
        </aside>
    </div>

    
</body>
</html>