* {
    font-family: 'Montserrat', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

/* Ajusta otras reglas específicas como .restaurant-header, .table-name, etc. */
.restaurant-title, .Contenido {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}


.restaurant-header {
    background-color: #013D1F;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;

    line-height: 150%;
    padding: 34px 5%;
    box-sizing: border-box;
}


.restaurant-title {
    letter-spacing: -1%;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font-size: 24px;
}

.user-info {
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #013d1f;
    display: flex;
    gap: 16px;
    font-size: 16px;
    white-space: nowrap;
    padding: 8px 16px;
}


.user-name {

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.user-icon {
    width: 24px;
    height: 24px;
}


.table-grid {
    margin-left: 60px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.table-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3), 0 0 15px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 500;
    line-height: 150%;
    width: 16%;
    max-width: 16%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.table-header {
    background-color: #178566;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px ;
}


.table-info {
    align-self: center;
    display: flex;
    gap: 5px;
}


.table-name {
    font-weight: 500;
}

.table-status {
    font-family: Montserrat, sans-serif;
    align-self: center;
}


.nav-tabs {
    border-radius: 12px;
    border: 1px solid #178566;
    align-self: flex-end;
    display: flex;
    gap: 12px;
    color: #02676f;
    white-space: nowrap;
    border: none;
    line-height: 150%;
    padding: 12px;
}

.nav-tab {
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    border-radius: 8px;

    padding: 10px ;
    color: #02676f;

    border: none;
    cursor: pointer;
}

.nav-tab-active {
    background-color: #178566;
    /* Fondo verde para el botón activo */
    color: #fff;
    /* Texto blanco para el botón activo */
}

.nav-tab-inactive {
    background-color: #fff;
    /* Color de fondo blanco para los botones desactivados */
    color: #178566;
    /* Texto verde para los botones desactivados */
    border-radius: 8px;
}


.action-panel {
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    width: 80%;
    padding: 30px;
}


.action-button {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 600;
    justify-content: center;
    border-radius: 10px;
    background-color: #178566;
    color: white;
    padding: 13px 16px;
    margin: 15px;
    cursor: pointer;
    width: 100%;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}


.Contenido{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 20px;
    margin-top: 50px;
    align-items: start;
}

.selected {

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-7px);

}

.table-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.6), 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.action-button:hover{   
    transform: translateY(-3px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.nav-tab-inactive:hover{
    background-color: #bbbbbb;
    transition:  background-color 0.3s ease;

}