html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  /* Asegura que el cuerpo ocupe toda la altura del viewport */
  display: flex;
  flex-direction: column;
}

/* Header styles */
.restaurant-header {
  background-color: #013d1f;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
  padding: 34px 5%;
  box-sizing: border-box;
}

.restaurant-nombre {
  letter-spacing: -0.24px;
  flex-grow: 1;
  margin: auto 0;
  font-family: 'Krona One';
  font-weight: lighter;
  font-size: 24px;
  color: white;
  min-width: 0;
}

.user-info {
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #013d1f;
  display: flex;
  gap: 16px;
  font-size: 16px;
  white-space: nowrap;
  padding: 8px 16px;
  min-width: 0;
}

.username {
  font-family: Inter, sans-serif;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flecha_hacia_abajo_usuarior {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

/* Main content styles */
.main-content {
  display: flex;
  flex: 1;
  gap: 20px;
  /* Añadir un relleno para separar el contenido del borde */
  box-sizing: border-box;
  height: 100%;
}

/* Ajustes para que la sidebar ocupe todo el alto */
.content-wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
  height: 100%;
}

.sidebar {
  width: 256px;
  background-color: rgba(237, 237, 237, 0.93);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #02676f;
  font-weight: 500;
  line-height: 150%;
  padding: 72px 9px;
  position: relative;
  /* Cambiado de sticky a relative */
  height: 100%;
  /* Ocupa toda la altura disponible */
  overflow-y: auto;
  /* Añadir scroll vertical cuando sea necesario */
}

.sidebar-item {
  border-radius: 8px;
  background-color: rgba(246, 246, 246, 0.96);
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  margin-top: 8px;
  text-decoration: none;
  color: inherit;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: auto 0;
}

.sidebar-text {
  font-family: Inter, sans-serif;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label {
  display: inline-block;
  margin-right: 100px;
  /* Ejemplo de margen derecho de 10px, ajusta según tus necesidades */
}

/* Main section styles */
.main-section {
  width: 80%;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #000;
  line-height: 150%;
  padding: 0 20px;
}

.titulo-modulo {
  margin-top: 20px;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #013d1f;
  font-size: 40px;
}

.tab-container {
  border-radius: 12px;
  border: transparent;
  background-color: #f8f8f8;
  align-self: flex-end;
  display: flex;
  gap: 9px;
  font-size: 16px;
  color: #0F624A;
  font-weight: 500;
  white-space: nowrap;
  line-height: 150%;
  padding: 8px;
  margin-bottom: 40px;
}

button:focus {
  outline: 1px dotted;
  outline: 0px;
}

.tab {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  border-radius: var(--sds-size-radius-200);
  background-color: #f8f8f8;
  /* Color de fondo inicial */
  padding: 8px 16px;
  color: #0F624A;
  /* Texto verde por defecto */
  border: none;
  cursor: pointer;
}

.tab-active {
  background-color: #0F624A;
  /* Fondo verde para el botón activo */
  color: #fff;
  /* Texto blanco para el botón activo */
  border-radius: 8px;
}

.tab-inactive {
  background-color: #f8f8f8;
  /* Color de fondo blanco para los botones desactivados */
  color: #0F624A;
  /* Texto verde para los botones desactivados */
}

.table-actions {
  display: flex;
  flex-shrink: 0;
  /* Evitar que los elementos empujen el contenido */
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0;
  /* Añadir un espacio de separación */
}

.action-buttons {
  display: flex;
  gap: 19px;
  font-size: 16px;
  color: #02676f;
  font-weight: 400;
  white-space: nowrap;
  line-height: 100%;
  margin-left: 15px;
}

.action-btn {
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: #0F624A;
  padding: 12px;
  cursor: pointer;
  width: 100px;
}

.action-btn:hover {
  background-color: #025157;
}

.icon-buttons {
  display: flex;
  gap: 6px;
  margin-right: 20px;
}

.icon-btn {
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid #02676f;
  background-color: #fff;
  display: flex;
  width: 44px;
  height: 44px;
  padding: 0 11px;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: #f0f0f0;
}

.icon-img {
  aspect-ratio: 0.78;
  object-fit: contain;
  width: 21px;
}

/* Ajustes para DataTables */

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 500px;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
}

.table thead th {
  background-color: #0F624A;
  color: #fff;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  border-bottom: 15px;
}

.paginate_button a {
  color: #013d1f;
}

.paginate_button:hover a {
  color: #025157;
}

.paginate_button.current {
  color: #e0e0e0;
  background-color: #0F624A;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0F624A;
  border-color: #0F624A;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(15, 98, 74, 0.25);
}

.form-select:focus {
  border-color: #02676f;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(15, 98, 74, 0.25);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #02676f;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(15, 98, 74, 0.25);
}