* {
    font-family: 'Montserrat', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

.restaurant-title, .Contenido {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}


.restaurant-header {
    background-color: #013D1F;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    line-height: 150%;
    padding: 34px 5%;
    box-sizing: border-box;
}


.restaurant-title {
    letter-spacing: -1%;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font-size: 24px;
}

.user-info {
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #013d1f;
    display: flex;
    gap: 16px;
    font-size: 16px;
    white-space: nowrap;
    padding: 8px 16px;
}


.selected {

    transition: transform 0.3s ease;
    transform: translateY(-7px);

}

.user-name {

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.user-icon {
    width: 24px;
    height: 24px;
}


.table-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    
}

.table-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3), 0 0 15px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    line-height: 150%;
    width: 16%;
    max-width: 16%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.table-header {
    background-color: #178566;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px ;
}


.table-icon {
    width: 16px;
    height: 16px;
}
.table-number {
    margin: auto 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 5px    ;
}


.table-info {
    align-self: center;
    display: flex;
    gap: 5px;
}


.table-name {
    margin-top: 10px;
    font-weight: 500;
}

.table-status {
    font-family: Montserrat, sans-serif;
    align-self: center;
}

.action-panel {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    color: #fff;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    
    gap: 16px;
}



.action-button {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #178566;
    font-size: 16px;
    margin-top: 5px;
    padding: 16px;
    cursor: po'Montserrat';
    width: 70%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    gap: 20px;
}

.Salida{margin: 40px;}

.Contenido{
    display: flex;
    flex-direction: row;
    width: 99%;
    padding: 20px; 
    margin-top: 90px;   
    align-items: start;
    justify-content: center;
}
.table-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.6), 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.action-button:hover{   
    transform: translateY(-3px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

