<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login/assets/style.css">
    <title>Inicio</title>
</head>
<body>
    <section class="login-container">
        <header class="header">BISTROT CHEZ REMY</header>
        <form action="login" method="post" class="login-form">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f77465672c8fee172fe651975d31a3b41538e52a20806cc4addf5e8af3da6020?apiKey=10ac5f4790d34603886af27420fa8645&" class="logo" alt="Bistrot Chez Remy logo" />
          <h1 class="login-title">Iniciar sección</h1>
          <label for="employee-code" class="input-label">Codigo de Empleado</label>
          <div class="input-wrapper">
            <input name="user" type="text" id="employee-code" class="input-field" placeholder="0000" />
          </div>
          <label for="password" class="input-label">Clave</label>
          <div class="password-wrapper">
            <input name="password" type="password" id="password" class="password-field" placeholder="******" />
          </div>
          <button type="submit" class="submit-button">Ingresar</button>
        </form>
      </section>
</body>
</html>