<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una Reservación</title>
    <link rel="stylesheet" href="CrearReservas.css">
    <link rel="stylesheet" href="side.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <div class="pagina">
        <div id="sidebar">
            <div class="side inicio">
                <img src="resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservar">
                    <h2>
                        <a class="exit-foto">
                            <img src="imagenes/icono_salida.png" alt="regresar">
                        </a>
                        Reservar
                    </h2>
                </div>
                <div class="seccion">
                    <h2>Reservación de mesa</h2>
                </div>
            </div>
            <div class="distribucion">
                <form id="reserva-form" action="/mesas/CrearReservas/crear" method="POST">
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
                    <div class="form-group">
                        <label for="personas">Cantidad de personas:</label>
                        <input type="number" id="personas" name="personas" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="hora_inicio">Hora de inicio:</label>
                        <input type="time" id="hora_inicio" name="hora_inicio" required>
                    </div>
                    <div class="form-group">
                        <label for="hora_fin">Hora de finalización:</label>
                        <input type="time" id="hora_fin" name="hora_fin" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre y Apellido:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cédula de Identidad:</label>
                        <input type="text" id="cedula" name="cedula" required>
                    </div>
                    <div class="form-group">
                        <label for="idmesa">Número de mesa:</label>
                        <input type="text" id="idmesa" name="idmesa" readonly>
                    </div>
                    <div class="form-group">
                        <label for="idtelefono">Teléfono:</label>
                        <input type="text" id="idtelefono" name="idtelefono" required>
                    </div>
                    <div class="form-group">
                        <label for="iddescripcion">Descripción:</label>
                        <input type="text" id="iddescripcion" name="iddescripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="zona">Zona:</label>
                        <input type="text" id="zona" name="zona">
                    </div>
                    <button type="submit">Registrar Reserva</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Exit de la Foto
        document.getElementsByClassName('exit-foto')[0].addEventListener('click', () => {
            let asientos_reserv = document.getElementsByClassName('reservado');

            for (let i = 0; i < asientos_reserv.length; i++) {
                asientos_reserv[i].classList.remove('reservado');
            }

            window.location.href = '/mesas';
        });

        // Recuperar las mesas seleccionadas y mostrarlas en el campo de numero de mesa
        document.addEventListener("DOMContentLoaded", function() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("fecha").setAttribute("min", today);

            // Función que recupera las mesas seleccionadas y las muestra en el campo de número de mesa
            const buttons = document.querySelectorAll(".button");
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    if (button.classList.contains("selected")) {
                        button.classList.remove("selected");
                    } else {
                        button.classList.add("selected");
                    }

                    const selectedButtons = Array.from(document.querySelectorAll(".button.selected")).map(button);
                    document.getElementById("idmesa").value = selectedButtons.join(", ");

                    localStorage.setItem("selectedButtons", JSON.stringify(selectedButtons));
                });
            });

            // Función que recupera las zonas seleccionadas y las muestra en el campo de zona
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    if (button.classList.contains("selected")) {
                        button.classList.remove("selected");
                    } else {
                        button.classList.add("selected");
                    }

                    const selectedButtons = Array.from(document.querySelectorAll(".button.selected")).map(button => button.textContent);
                    document.getElementById("zona").value = selectedButtons.join(", ");

                    localStorage.setItem("selectedButtons", JSON.stringify(selectedButtons));
                });
            });

            // Recuperar la selección de mesas almacenada
            const selectedButtons = JSON.parse(localStorage.getItem("selectedButtons")) || [];

            // Mostrar las mesas seleccionadas en el campo de número de mesa
            document.getElementById("idmesa").value = selectedButtons.join(", ");

            // Validar el formulario en el evento submit
            document.getElementById("reserva-form").addEventListener("submit", function(event) {
                const horaInicio = document.getElementById("hora_inicio").value;
                const horaFin = document.getElementById("hora_fin").value;

                if (!validarHorarioRestaurante(horaInicio, horaFin)) {
                    alert("El restaurante solo acepta reservas entre las 7:00 AM y las 9:00 PM.");
                    event.preventDefault();
                } else if (document.getElementById("idmesa").value == "") {
                    alert("Debe seleccionar al menos una mesa.");
                    event.preventDefault();
                }
            });

            // Función que valida que la hora de inicio no sea igual a la hora de fin
            function validarHorasIguales() {
                const horaInicio = document.getElementById("hora_inicio").value;
                const horaFin = document.getElementById("hora_fin").value;

                if (horaInicio === horaFin) {
                    document.getElementById("hora_inicio").setCustomValidity("La hora de inicio no puede ser igual a la hora de finalización.");
                    document.getElementById("hora_fin").setCustomValidity("La hora de inicio no puede ser igual a la hora de finalización.");
                } else {
                    document.getElementById("hora_inicio").setCustomValidity("");
                    document.getElementById("hora_fin").setCustomValidity("");
                }
            }

            // Función que valida que la hora de inicio sea menor a la hora de fin
            function validarHorasInicioFin() {
                const horaInicio = document.getElementById("hora_inicio").value;
                const horaFin = document.getElementById("hora_fin").value;

                if (horaInicio >= horaFin) {
                    document.getElementById("hora_inicio").setCustomValidity("La hora de inicio debe ser menor a la hora de finalización.");
                    document.getElementById("hora_fin").setCustomValidity("La hora de inicio debe ser menor a la hora de finalización.");
                } else {
                    document.getElementById("hora_inicio").setCustomValidity("");
                    document.getElementById("hora_fin").setCustomValidity("");
                }
            }

            // Función que valida la duración de la reserva (mínimo 30 minutos y máximo 4 horas)
            function validarDuracionReserva() {
                const horaInicio = document.getElementById("hora_inicio").value;
                const horaFin = document.getElementById("hora_fin").value;

                if (!horaInicio || !horaFin) {
                    return;
                }

                const [horaInicioStr, minInicioStr] = horaInicio.split(":");
                const [horaFinStr, minFinStr] = horaFin.split(":");

                const horaInicioInt = parseInt(horaInicioStr, 10);
                const minInicioInt = parseInt(minInicioStr, 10);
                const horaFinInt = parseInt(horaFinStr, 10);
                const minFinInt = parseInt(minFinStr, 10);

                const diferenciaHoras = (horaFinInt - horaInicioInt) * 60 + (minFinInt - minInicioInt);

                if (diferenciaHoras < 30) {
                    document.getElementById("hora_inicio").setCustomValidity("La reserva debe tener una duración mínima de 30 minutos.");
                    document.getElementById("hora_fin").setCustomValidity("La reserva debe tener una duración mínima de 30 minutos.");
                } else if (diferenciaHoras > 240) {
                    document.getElementById("hora_inicio").setCustomValidity("La reserva no puede durar más de 4 horas.");
                    document.getElementById("hora_fin").setCustomValidity("La reserva no puede durar más de 4 horas.");
                } else {
                    document.getElementById("hora_inicio").setCustomValidity("");
                    document.getElementById("hora_fin").setCustomValidity("");
                }
            }

            // Añadir los eventos de validación a los campos de hora de inicio y hora de fin
            document.getElementById("hora_inicio").addEventListener("input", function() {
                validarHorasIguales();
                validarHorasInicioFin();
                validarDuracionReserva();
            });

            document.getElementById("hora_fin").addEventListener("input", function() {
                validarHorasIguales();
                validarHorasInicioFin();
                validarDuracionReserva();
            });

            // Función que valida el horario del restaurante
            function validarHorarioRestaurante(horaInicio, horaFin) {
                const horarioInicioRestaurante = 7;
                const horarioFinRestaurante = 21;

                const [horaInicioStr, minInicioStr] = horaInicio.split(":");
                const horaInicioInt = parseInt(horaInicioStr, 10);
                const [horaFinStr, minFinStr] = horaFin.split(":");
                const horaFinInt = parseInt(horaFinStr, 10);

                if (isNaN(horaInicioInt) || isNaN(horaFinInt)) {
                    return false;
                }

                if (horaInicioInt < horarioInicioRestaurante || horaInicioInt > horarioFinRestaurante) {
                    return false;
                }

                if (horaFinInt < horarioInicioRestaurante || horaFinInt > horarioFinRestaurante) {
                    return false;
                }

                return true;
            }
        });
    </script>
</body>
</html>
