/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}

h2 a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  

h2, h3 {
    color: #02676F;
}

img {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    width: 15px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

.usuario select {
    background-color: #0A3D2F;
    color: white;
    width: 175px;
    height: 35px;
}

/* Cabecera */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3D2F;
    color: #ffffff;
    padding: 0 20px; /* Espacio lateral para el contenido */
    height: 100px;
}

.titulo {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    margin: 0; /* Quitar márgenes por defecto */
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario select {
    padding: 5px;
    border-radius: 5px;
}

.pagina {
    display: flex;
}

/* Navegación */
.sidebar {
    background-color: #EDEDED;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #02676F; /* Puedes cambiar el color del texto según tu preferencia */
    background-color: #F6F6F6; /* Color de fondo del botón */
    padding: 10px 20px;
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s;
}

nav ul li a img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}

nav ul li a:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón por encima */
}

/* Contenido */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.contenidop {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.Reservar {
    align-self: flex-start;
    margin-bottom: 10px;
}

.seccion {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}







form {
    max-width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Estilos para los grupos de campos */
  .form-group {
    flex: 1 1 calc(30% - 10px); /* Dos columnas, con margen entre ellas */
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .form-group:last-child {
    margin-right: 0; /* Elimina el margen derecho del último grupo */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center; /* Centra el texto del label */
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="date"],
  .form-group input[type="time"],
  .form-group textarea,
  .form-group select {
    width: 80%; /* Ocupa el 80% del ancho disponible */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto; /* Centra horizontalmente */
  }
  
  .form-group textarea {
    resize: vertical; /* Permitir redimensionamiento vertical */
  }
  
  /* Estilos para el botón */
  button[type="submit"] {
    background-color: #02676F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  h2 a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  