<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link rel="stylesheet" href="/css/mesass.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

</head>
<body>
    <div class="heading">
        <div class="titulo">
            <h1>BISTROT CHEZ RÉMY</h1>
        </div>
        <div class="usuario">
            <select name="usuario" id="usuario">
                <option value="gerente0000">gerente0000</option>
                <option value="gerente0001">gerente0001</option>
            </select>
        </div>
    </div>
    <div class="pagina">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="#"><img src="imagenes/icono_inicio.png" alt="Inicio">Inicio</a></li>
                    <li><a href="#"><img src="imagenes/icono_ventas.png" alt="Ventas/Salón">Ventas/Salón</a></li>
                    <li><a href="#"><img src="imagenes/icono_compras.png" alt="Compras">Compras</a></li>
                    <li><a href="#"><img src="imagenes/icono_rrhh.png" alt="RRHH">RRHH</a></li>
                    <li><a href="#"><img src="imagenes/icono_inventario.png" alt="Inventario">Inventario</a></li>
                    <li><a href="#"><img src="imagenes/icono_mantenimiento.png" alt="Mantenimiento">Mantenimiento</a></li>
                    <li><a href="#"><img src="imagenes/icono_cocina.png" alt="Cocina/Bar">Cocina/Bar</a></li>
                    <li><a href="#"><img src="imagenes/icono_reservas.png" alt="Reservas">Reservas</a></li>
                    <li><a href="#"><img src="imagenes/icono_reporte.png" alt="Reportes">Reportes</a></li>
                    <li><a href="#"><img src="imagenes/icono_config.png" alt="Configuraciones">Configuraciones</a></li>
                    <li><a href="#"><img src="imagenes/icono_ayuda.png" alt="Ayuda">Ayuda</a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservar">
                   <h2><img src="imagenes/icono_salida.png" alt="regresar">Reservar</h2>
                </div>
                <div class="seccion">
                    <h2>Mesas</h2>
                </div>
            </div>
        
        
            <div class="distribucion">
                <div class="interior">
                    <h3>Interior</h3>
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                </div>
                <div class="exterior">
                    <h3>Exterior</h3>
                    <div>10</div>
                    <div>11</div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>