/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    }


    h2,h3{
        color: #02676F;
    }
    


    img {
        margin-right: 10px; /* Espacio entre el icono y el texto */
        width: 15px; /* Ajusta el tamaño según tus necesidades */
        height: auto;
    }

select{
    background-color: #0A3D2F;
    color: white;
    width: 175px;
    height: 35px;
}

/* Cabecera */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3D2F;
    color: #ffffff;
    padding: 0 20px; /* Espacio lateral para el contenido */
    height: 100px;
}

.titulo {
    font-family: 'Montserrat' ;
    font-size: 15px;
    font-weight: bold;
    margin: 0; /* Quitar márgenes por defecto */
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario select {
    padding: 5px;
    border-radius: 5px;
}

.pagina{display: flex;

}
/* Navegación */

.sidebar{
    background-color: #EDEDED;
    padding: 15px;
    height: 85vh;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #02676F ; /* Puedes cambiar el color del texto según tu preferencia */
    background-color: #F6F6F6; /* Color de fondo del botón */
    padding: 10px 20px;
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s;
}

nav ul li a img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}

nav ul li a:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón por encima */
}



/* Contenido */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.contenidop{
    margin-top: 20px;
    width:80%;
    display: flex;
    justify-content: space-between;
}

.Reservar {
    align-self: flex-start;
    margin-bottom: 10px;
    
}

.seccion {
    text-align: center;
    margin-bottom: 20px;
}

.distribucion {
    width:80%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.interior {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.interior h3 {
    grid-column: span 3;
    text-align: center;
    margin-bottom: 10px;
}

.exterior{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.exterior h3{
    margin-bottom: 100px;
}

.exterior div{
    margin-top: 19px;
    
}


.exterior > * {
    margin: 10px 0; /* Margen vertical entre los elementos */

}


.interior div, .exterior div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 25px;
    
}




.interior div:hover, .exterior div:hover {
    background-color: #45a049;
}
