<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link rel="stylesheet" href="mesas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <div class="heading">
        <div class="titulo">
            <h1>BISTROT CHEZ RÉMY</h1>
        </div>
        <div class="usuario">
            <select name="usuario" id="usuario">
                <option value="gerente0000">gerente0000</option>
                <option value="gerente0001">gerente0001</option>
            </select>
        </div>
    </div>
    <div class="pagina">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="#"><img src="imagenes/icono_inicio.png" alt="Inicio">Inicio</a></li>
                    <li><a href="#"><img src="imagenes/icono_ventas.png" alt="Ventas/Salón">Ventas/Salón</a></li>
                    <li><a href="#"><img src="imagenes/icono_compras.png" alt="Compras">Compras</a></li>
                    <li><a href="#"><img src="imagenes/icono_rrhh.png" alt="RRHH">RRHH</a></li>
                    <li><a href="#"><img src="imagenes/icono_inventario.png" alt="Inventario">Inventario</a></li>
                    <li><a href="#"><img src="imagenes/icono_mantenimiento.png" alt="Mantenimiento">Mantenimiento</a></li>
                    <li><a href="#"><img src="imagenes/icono_cocina.png" alt="Cocina/Bar">Cocina/Bar</a></li>
                    <li><a href="#"><img src="imagenes/icono_reservas.png" alt="Reservas">Reservas</a></li>
                    <li><a href="#"><img src="imagenes/icono_reporte.png" alt="Reportes">Reportes</a></li>
                    <li><a href="#"><img src="imagenes/icono_config.png" alt="Configuraciones">Configuraciones</a></li>
                    <li><a href="#"><img src="imagenes/icono_ayuda.png" alt="Ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservar">
                    <h2>
                        <a href="/">
                            <img src="imagenes/icono_salida.png" alt="regresar">
                        </a>
                        Reservar
                    </h2>
                </div>
                <div class="seccion">
                    <h2>Mesas</h2>
                </div>
            </div>
            <div class="distribucion">
                <div class="arriba">
                    <div class="interior">
                        <h3>Interior</h3>
                        <div class="button" data-number="1">1</div>
                        <div class="button" data-number="2">2</div>
                        <div class="button" data-number="3">3</div>
                        <div class="button" data-number="4">4</div>
                        <div class="button" data-number="5">5</div>
                        <div class="button" data-number="6">6</div>
                        <div class="button" data-number="7">7</div>
                        <div class="button" data-number="8">8</div>
                        <div class="button" data-number="9">9</div>
                    </div>
                    <div class="exterior">
                        <h3>Exterior</h3>
                        <div class="button" data-number="10">10</div>
                        <div class="button" data-number="11">11</div>
                    </div>
                </div>
                <div class="abajo">
                    <h3>Barra</h3>
                    <div class="button" data-number="1">1</div>
                    <div class="button" data-number="2">2</div>
                    <div class="button" data-number="3">3</div>
                    <div class="button" data-number="4">4</div>
                    <div class="button" data-number="5">5</div>
                </div>
            </div>
            <button id="mesa">Seleccionar mesa</button>
        </div>
    </div>

    <script>

        const mesas = document.getElementById("mesa");
        mesas.addEventListener("click", function() {
            window.location.href = "/CrearReservas";
        });
        document.addEventListener("DOMContentLoaded", function() {

            //funcion que permite seleccionar varias mesas
            const buttons = document.querySelectorAll(".button");
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    if (button.classList.contains("selected")) {
                        button.classList.remove("selected");
                    } else {
                        button.classList.add("selected");
                    }
                });
            });
            //funcion que manda los numeros de las mesas seleccionadas y los manda al campo de numero de mesa de la vista CrearReservas
            const mesas = document.getElementById("mesa");
            mesas.addEventListener("click", function() {
                const selectedButtons = document.querySelectorAll(".selected");
                const selectedNumbers = [];
                selectedButtons.forEach(selectedButton => {
                    selectedNumbers.push(selectedButton.dataset.number);
                });
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "mesas";
                input.value = selectedNumbers.join(",");
                document.body.appendChild(input);
            });
            
            
            
        });
    </script>
</body>
</html>


