<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="selec.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <title>Selección de mesa</title>
</head>
<body>

    <div class="distribucion">
        <div class="arriba">
            <div class="interior">
            <h3>Interior</h3>
            <div class="button" data-number="1">1</div>
            <div class="button" data-number="2">2</div>
            <div class="button" data-number="3">3</div>
            <div class="button" data-number="4">4</div>
            <div class="button" data-number="5">5</div>
            <div class="button" data-number="6">6</div>
            <div class="button" data-number="7">7</div>
            <div class="button" data-number="8">8</div>
            <div class="button" data-number="9">9</div>
        </div>
        <div class="exterior">
            <h3>Exterior</h3>
            <div class="button" data-number="10">10</div>
            <div class="button" data-number="11">11</div>
        </div></div>

        
        <div class="abajo">
            <h3>Barra</h3>
    
                <div class="button" data-number="1">1</div>
                <div class="button" data-number="2">2</div>
                <div class="button" data-number="3">3</div>
                <div class="button" data-number="4">4</div>
                <div class="button" data-number="5">5</div>
        
        </div>
        <button>Seleccionar mesas</button>
        
        
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            // Cargar la selección almacenada
            const selectedButtons = JSON.parse(localStorage.getItem("selectedButtons")) || [];
            selectedButtons.forEach(number => {
                const button = document.querySelector(`.button[data-number='${number}']`);
                if (button) {
                    button.classList.add("selected");
                }
            });
        
            // Añadir evento de clic a todos los botones
            document.querySelectorAll(".button").forEach(button => {
                button.addEventListener("click", function() {
                    const number = this.getAttribute("data-number");
                    this.classList.toggle("selected");
                    if (this.classList.contains("selected")) {
                        selectedButtons.push(number);
                    } else {
                        const index = selectedButtons.indexOf(number);
                        if (index !== -1) {
                            selectedButtons.splice(index, 1);
                        }
                    }
                    localStorage.setItem("selectedButtons", JSON.stringify(selectedButtons));
                });
            });
        });
        
        </script>
    
</body>
</html>