<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot - Dashboard</title>
    <link rel="stylesheet" href="/Home/assets/index.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <img class="logo" src="/Home/assets/logo.png" alt="Logo">
        <h3 class="main-title">BISTROT CHEZ RÉMY</h3>
        <p class="title-frase">Peut-être que c’est un autre rat et peut-être que c’est une bonne chose. - Remy</p>
    </main>
    <footer>
        <ul>
            <li><div>
                <a href="/inventario">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/inventario-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/inventario-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Inventario</h3>
            </div></li>
            <li><div>
                <a href="/compras-index">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/compras-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/compras-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Compras</h3>
            </div></li>
            <li><div>
                <a href="/ventas/Vista_Gerente/gerente">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/ventas-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/ventas-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Ventas/Salon</h3>
            </div></li>
            <li><div>
                <a href="/rrhh">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/person-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/person-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">RRHH</h3>
            </div></li>
            <li><div>
                <a>
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/mantenimiento-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/mantenimiento-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Mantenimiento</h3>
            </div></li>
            <li><div>
                <a href="/cocina/produccion">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/cocina-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/cocina-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Cocina/Bar</h3>
            </div></li>
            <li><div>
                <a href="/reservas">
                <div class="img-btn">
                    <img class="img-list green" src="/Home/assets/icono-side-bar-green/reservas-green.png" alt="Inicio">
                    <img style="display: none;" class="img-list white" src="/Home/assets/icono-side-bar-white/reservas-white.png" alt="Inicio">
                </div>
                </a>
                <h3 class="title-btn">Reservas</h3>
            </div></li>
        </ul>
    </footer>
    <script src="/Home/assets/index.js"></script>
</body>
</html>