.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

/* Estilo de los grupos de formulario */
.form-group {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


/* Estilo de las etiquetas del formulario */
.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo de los inputs del formulario */
.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

    .submit-button {
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        border-radius: 8px;
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: #0F624A;
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
        padding: 12px 24px;
        color: #fff;
        cursor: pointer;
        border-width: 0.5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      

/* Estilo de los botones */
.submit-button {

        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        border-radius: 8px;
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: #0F624A;
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
        padding: 12px 24px;
        color: #fff;
        cursor: pointer;
        border-width: 0.5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      
      
}

/* Cambiar color al pasar el mouse sobre los botones */
.submit-button:hover {
    background-color: #005c2e;
}

/* Centrar los botones */
.form-row:last-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .form-row,
    .form-input,
    .address-input,
    .submit-button {
        max-width: 100%;
    }

    .form-row {
        flex-wrap: wrap;
    }

    .submit-button {
        padding: 16px 20px;
    }
} */
