/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }

  
  /* Estilo general del formulario */
  #employee-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo de las filas */
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  /* Estilo de los grupos de campos */
  .form-group {
    flex: 1;
    min-width: 200px;
  }
  
  /* Etiquetas */
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  /* Campos de entrada */
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Estilo de los campos desplegables */
  .form-input.dropdown {
    background-color: #fff;
  }
  
  /* Placeholder de los campos */
  .form-input::placeholder {
    color: #aaa;
  }
  
  /* Estilo del botón de envío */
  #submit-button {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #0F624A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
    border-width: 0.5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #submit-button:hover {
    background-color: #005c2e;
  }
  
  /* Estilo para la dirección */
  .address-group {
    margin-top: 20px;
  }
  
  /* Estilo del campo de dirección para asegurar buen ajuste */
  .address-input {
    height: 80px;
    padding: 10px;
  }
  
  /* Estilo de los selectores */
  .form-input.dropdown {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Espaciado y alineación */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilos adicionales para el formulario en pantallas pequeñas */
  @media (max-width: 600px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-group {
      min-width: 100%;
    }
  }
  
#sidebar {
    height: 100vh;
}
.submit-button{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  border-radius: 8px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #0F624A;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  padding: 12px 24px;
  color: #fff;
  cursor: pointer;
  border-width: 0.5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

