@font-face {
    font-family: "Montserrat-Medium";
    src: url("../resources/Fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../resources/Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../resources/Fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 800;
}

body {
    overflow: hidden;
}

main {
    font-family: 'Montserrat-Medium';
    color: #02676F;
}

#principal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 85vh;
    width: 75vw;
}

.box-title-prov {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat-Bold';
}

#title-prov {
    font-size: 1.5rem;
}

.title-exit {
    cursor: pointer;
    width: 40px;
}

.dashboard {
    display: flex;
    height: 100%;
    gap: 5%;
    width: 100%;
    padding: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 8px;
    height: 90%;
}

#title-table {
    font-size: 0.8em;
    padding: 10px;
}

#tabla-prov {
    width: 100%;
    font-size: 0.8rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
}

.prov-clase {
    color: #828282;
    padding: 10px;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prov-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#select-prov {
    appearance: none;
    width: 70%;
    border-color: #D9D9D9;
    color: #828282;
    padding: 10px;
    outline: none;
    border-width: 2px;
    font-size: 0.8rem;
}

#select-prov:focus {
    border-color: #02676F;
}

#delete-prov-btn {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-color: #02676F;
    border-style: solid;
    color: #02676F;
    font-family: 'Montserrat-Bold';
    font-size: 1rem;
    transition: all 0.5s;
}

#delete-prov-btn:hover {
    cursor: pointer;
    background-color: #0F624A;
    color: white;
}

#horizontal-divider {
    height: 2px;
    background-color: #02676F;
}

.data-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 5%;
}

#data-title-btn, #data-title-modi {
    padding: 15px;
    width: 40%;
    background-color: #0F624A;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-data {
    margin-bottom: 10px;
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    border-color: #D9D9D9;
    border-width: 2px;
    border-style: solid;
    font-size: 0.8rem;
    outline: none;
    transition: all 0.5s;
}

.input-data:focus {
    border-color: #02676F;
    padding: 15px 10px;
}

#delete-form {
    gap: 5px;
    display: flex;
}

#form1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-data {
    width: 42%;
}

.data-box-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}