<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BISTROT CHEZ RÉMY - Menu</title>
    <link rel="stylesheet" href="Menu.css">
</head>
<body>
    <section class="menu-container">
        <header class="header">
            <h1 class="restaurant-name">BISTROT CHEZ RÉMY</h1>
            <div class="user-info">
                <span class="user-name">Gerente0000</span>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd69caf513a031a441b0ae2c28050f8e01024dfd2f15fb76144d64f2f7d9df8f?apiKey=629bdbd1e8094e57ae964126872a2922&" alt="User icon" class="user-icon" />
            </div>
        </header>
        <main class="main-content">
            <div class="content-wrapper">
                <div class="menu-header">
                    <div class="menu-title-container">
                        <h2 class="menu-title">Menu</h2>
                        <p class="menu-subtitle">RECETAS</p>
                    </div>
            
                </div>
                <div class="menu-content">
            <img src="iconos_barra/icono_salida.png" class="icono" onclick= "window.location.href = 'produccion.html';" />

                    <div class="menu-layout">
                        <nav class="menu-categories">
                            
                            <button class="category-button entradas" onclick="window.location.href = 'Entradas.html';" id = "boton Entradas">Entradas</button>
                            <button class="category-button platos-fuertes" onclick="window.location.href = 'PlatosFuertes.html';" id = "boton Entradas">Platos Fuertes</button>
                            <button class="category-button vegetariano" onclick="window.location.href = 'Vegetariano.html';" id = "boton Vegetariano">Vegetariano</button>
                            <button class="category-button postres" onclick="window.location.href = 'Postres.html';" id = "boton Postres">Postres</button>
                            <button class="category-button menu-ninos" onclick="window.location.href = 'infantil.html';" id = "boton infantil">Menu de niños</button>
                            <button class="category-button bebidas" onclick="window.location.href = 'Bebidas.html';" id = "boton Bebidas">Bebidas</button>

                        </nav>
                        <section class="menu-items">
                            <div class="items-container">
                                <div class="items-grid">
                                    <article class="menu-item">
                                        <img src="Newfolder/Chocolate mouse.jpeg" alt="Chocolate Mouse" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Mouse de chocolate</h3>
                                            <p class="item-description">harina, leche, azúcar, choolate </p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/chocolatecake.jpg" alt="Chocolate Cake" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Pastel de chocolate</h3>
                                            <p class="item-description">harina, leche, azúcar, chocolate, huevo</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/fruitsalad.webp" alt="Fruit Salad" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">Ensalada de frutas</h3>
                                            <p class="item-description">fresa,  patilla, manzana , banana</p>
                                        </div>
                                    </article>
                                    <article class="menu-item">
                                        <img src="Newfolder/apple tart.jpg" alt="Apple tart" class="item-image" />
                                        <div class="item-details">
                                            <h3 class="item-name">tarta de manzana</h3>
                                            <p class="item-description">harina, leche, azúcar, manzana, huevo</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
</html>