body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.menu-container {
    background-color: #fff;
    display: flex;
    padding-bottom: 63px;
    flex-direction: column;
}
.header {
    background-color: #013d1f;
    display: inline-block;
    width: 100%;
    gap: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 150%;
    padding: 34px 55px;
}
@media (max-width: 991px) {
    .header {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}
.icono{
    transform: translateX(-556%) translateY(-348%);
}
.restaurant-name {
    letter-spacing: -0.24px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 24px 'Krona One', sans-serif;
}
.user-info {
    border-radius: var(--sds-size-radius-200);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #013d1f;
    display: inline-flex;
    justify-content: flex-end ;
    position: absolute;
    right: 0;
    width: 10%;
    transform: translateY(-85%);
    margin-right: 30px;
    margin-bottom: 20px;
    gap: 12px;
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 16px;
}
@media (max-width: 991px) {
    .user-info {
        white-space: initial;
    }
}
.user-name {
    font-family: 'Inter', sans-serif;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
}
.main-content {
    position: relative;
    padding-bottom: 56.25% ;
    border-radius: 15px;
    box-shadow: 0px 1px 32.5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-self: center;
    display: flex;
    top: 0;
    height: 100%;
    left: 0;
    margin-top: 49px;
    width: 80%;
    max-width: 1314px;
    max-height: 249px;
    align-items: center;
    justify-content: center;
    padding: 96px 60px;
}
@media (max-width: 991px) {
    .main-content {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}
.content-wrapper {
    display: flex;
    margin-bottom: 21px;
    width: 100%;
    max-width: 1093px;
    flex-direction: column;
    transform: scale(0.68) translateX(-20%);

}
@media (max-width: 991px) {
    .content-wrapper {
        max-width: 100%;
    }
}
.menu-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    line-height: 150%;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .menu-header {
        max-width: 100%;
        flex-wrap: wrap;
    }
}
.menu-title-container {
    align-self: end;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    font-weight: 700;
    white-space: nowrap;
    transform: translateX(11%)translateY(12%);
}
@media (max-width: 991px) {
    .menu-title-container {
        white-space: initial;
    }
}
.menu-title {
    color: #0f624a;
    
    transform: translateX(67%) translateY(80%) scale(1.9);
}
.menu-subtitle {
    color: #6c6c6c;
    margin-top: 15px;
    
    transform: translateX(21%) translateY(120%)

}

@media (max-width: 991px) {
    .edit-menu-btn {
        padding: 0 20px;
    }
}
.menu-content {
    margin-top: 67px;
}
@media (max-width: 991px) {
    .menu-content {
        max-width: 100%;
        margin-top: 40px;
    }
}
.menu-layout {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .menu-layout {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}
.menu-categories {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 0;
    transform: translateX(12%) translateY(-13%) scale(1);
}
@media (max-width: 991px) {
    .menu-categories {
        width: 100%;
    }
}
.category-button {
    
    justify-content: center;
    border-radius: 5px;
    white-space: nowrap;
    padding: 13px 16px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    color: #fff;
}


.verdecito:hover {
    transition: 0.4s;
    background-color: #007b3e !important;
}

.category-button:first-child {
    margin-top: 0;
}

.category-button.entradas { background-color: #0f624a; }
.category-button.platos-fuertes { background-color: #0f624a; }
.category-button.vegetariano { background-color: #0f624a; }
.category-button.postres {background-color: #fff;
    color:#0f624a;
    
    box-shadow: 0px 0px 3px rgba(1, 95, 6, 0.618); }
.category-button.menu-ninos { background-color: #0f624a; }
.category-button.bebidas { background-color: #0f624a; }
@media (max-width: 991px) {
    .category-button {
        white-space: initial;
        padding: 13px 20px;
    }
}
.menu-items {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 77%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .menu-items {
        width: 100%;
    }
}
.items-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
@media (max-width: 991px) {
    .items-container {
        max-width: 100%;
        margin-top: 40px;
    }
}
.items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transform: translateX(30%) translateY(-20%) scale(1.27);

}
@media (max-width: 991px) {
    .items-grid {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}
.menu-item {
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-weight: 700;
    line-height: 150%;
    width: calc(50% - 10px);
}
@media (max-width: 991px) {
    .menu-item {
        width: 100%;
        margin-top: 15px;
    }
}
.item-image {
    aspect-ratio: 0.91;
    object-fit: cover;
    object-position: center;
    width: 188px;
    max-width: 100%;
}
.item-details {
    align-self: start;
    display: flex;
    margin-top: 28px;
    flex-direction: column;
    flex: 1;
}
.item-name {
    color: #000;
    font-size: 1rem;
}
.item-description {
    color: #929292;
    margin-top: 19px;
    
}
.carousel-container {
    position: relative;
    width: 70%;
    max-width: 120em;
    transform: translateY(-30%);
    overflow: hidden;
    
    
}
.carousel {
    width: 1200%;
    display: flex;
    overflow: hidden;
}
.carousel-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 110%;
    transition: transform 0.3s ease; 
}
.card {
    width: 100%;
    display: flex;
}
.card img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transform: translateY(15%)
}


button.prev, button.next {
    position: absolute;
    top: 45%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin-right: -12px;
    margin-left: 26px;
    font-size: 2em;
    padding: 5 5px;
    z-index: 100;
    cursor: pointer;
}
button.prev {
    left: 0;
}
button.next {
    right: 0;
}

#sufro{
    background-color: #fff;
    color: #013d1f;

}

#containerdebebidas {

    transform: scale(1.7) translateX(40%) translateY(-20%);
}