*{
    font-family: 'Montserrat',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}



.bistrot-container {
        background-color: #fff;
        display: flex;
        padding-bottom: 80px;
        width: 100%;
        flex-direction: column;
}
        
.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    background-color: #013d1f;
    display: flex;
    gap: 20px;
    color: #fff;
    line-height: 150%;
    padding: 34px 55px;
}
        
@media (max-width: 991px) {
    .header {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
    }
}

.restaurant-name {
    letter-spacing: -1%;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font-size: 24px;
    font: 24px 'Montserrat', sans-serif;
    font-weight: 600
}

.waiter-info {
    border-radius: var(--sds-size-radius-200);
    border: 1px solid #fff;
    background-color: #013d1f;
    display: flex;
    gap: 16px;
    font-size: 16px;
    white-space: nowrap;
    padding: 8px 16px;
}

@media (max-width: 991px) {
    .waiter-info {
    white-space: initial;
    }
}

.waiter-name {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.waiter-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
}

.main-content {
    display: flex;
    width: 90%;
    padding: 34px;
    margin-top: 50px;   

    flex-direction: column;
    justify-content:center ;
    
}

@media (max-width: 991px) {
    .main-content {
    max-width: 100%;
    padding-left: 20px;
    margin-top: 40px;
    }
}

.menu-icon {
    aspect-ratio: 1;
    object-fit: scale-down;
    object-position: center;
    width: 49px;
}

.table-section {
    align-self: center;
    width: 100%;
}

@media (max-width: 991px) {
    .table-section {
    max-width: 100%;
    margin-top: 40px;
    }
}

.table-layout {
    gap: 20px;
    display: flex;
}



.table-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    justify-content: center;
    align-items: start;
    flex: 1;
    
}

@media (max-width: 991px) {
    .table-column {
    width: 100%;
    }
}

.table-wrapper {
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-wrap: wrap;
    display: flex;
    padding: 50px;
}


.table-container {
    width: 600px;
    max-width: 100%;
}

.table-row {
    gap: 80px;
    display: flex;
}


.table-cell {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .table-cell {
    width: 100%;
    }
}

.table-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3), 0 0 15px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    padding-bottom: 30px;
    flex-direction: column;
    font-size: 14px;
    margin-left: 100px;
    color: #000;
    font-weight: 500;
    line-height: 150%;
    width: 80%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selected {

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-7px);

}

.table-header {
    background-color: #178566;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 23px ;
}

@media (max-width: 991px) {
    .table-header {
    padding: 0 20px;
    }
}

.table-number {
    align-self: center;
    display: flex;
    gap: 5px;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .table-number {
    white-space: initial;
    }
}

.table-icon {
    width: 24px;
    height: 24px;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

.table-count {
    font-family: Montserrat, sans-serif;
    margin: auto 0;
}

.table-name {
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
}

.table-status {
    font-family: Montserrat, sans-serif;
    align-self: center;
}

.action-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 20px;
}

.action-menu {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    color: #fff;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    
    gap: 16px;
    padding: 40px;
}

@media (max-width: 991px) {
    .action-menu {
    margin-top: 40px;
    padding: 0 20px;
    }
}

.action-button {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #178566;
    font-size: 16px;
    margin-top: 5px;
    padding: 16px;
    cursor: po'Montserrat';
    width: 70%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.action-button:first-child {
    margin-top: 0;
}

@media (max-width: 991px) {
    .action-button {
    padding: 0 20px;
    }
}



.table-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.6), 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.action-button:hover{   
    transform: translateY(-3px);
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


.menu-icon:hover{
    transform: translateY(-2px);
    
}