.employee-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 30px;
    transform: translate(150px);
}
  
.page-title {
    color: #000;
    text-align: center;
    letter-spacing: -0.68px;
    align-self: stretch;
    font: 600 34px/1.1 Inter, sans-serif;
    transform: translateX(-100px);
}
  
.form-row {
    align-self: stretch;
    display: flex;
    margin-top: 37px;
    gap: 20px;
    justify-content: space-between;
    transform: translateX(-100px);
}
  
.form-group {
    display: flex;
    flex-direction: column;
    

}
  
.form-label {
    color: #000;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
  
.form-input {
    font-family: Inter, sans-serif;
    border-radius: var(--sds-size-radius-200);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(224, 224, 224, 1);
    background-color: #fff;
    margin-top: 8px;
    color: #828282;
    padding: 12px 16px;
    cursor: pointer;
}
  
.dropdown {
    display: flex;
    gap: 16px;
}
  
.dropdown-text {
    font-family: Inter, sans-serif;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.dropdown-icon {
    aspect-ratio: 1;
    width: 24px;
}
  
.address-input {
    width: 100%;
    max-width: 810px;
}
  
.submit-button {
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #3a9b0c;
    margin-top: 37px;
    width: 100%;
    max-width: 556px;
    color: #fff;
    padding: 16px 32px;
    font: 500 20px Inter, sans-serif;
    cursor: pointer;
    transform: translate(80px);
}


  
@media (max-width: 991px) {
    .page-title,
    .form-row,
    .form-input,
    .address-input,
    .submit-button {
      max-width: 100%;
    }
  
    .form-row {
      flex-wrap: wrap;
    }
  
    .submit-button {
      padding: 16px 20px;
    }
}