@font-face {
    font-family: "Montserrat-Extrabold";
    src: url("../resources/Fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../resources/Fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

* {
    color: #02676F;
    margin: 0;
    font-family: 'Montserrat-Medium';
}

.title-bar {
    height: 15vh;
    background-color: #013D1F;
}

.sidebar {
    width: 15vw;
    height: 85vh;
    background-color: #EDEDED;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 40px;
    display: flex;
}

.box {
    display: flex;
}

h1 {
    font-family: 'Montserrat-Extrabold';
}

#saldo {
    font-family: 'Montserrat-Extrabold';
}

th {
    font-size: 0.8em;
}

#divider {
    width: 1px;
    height: 65vh;
    background-color: #0F624A;
    margin-left: 40px;
    margin-right: 40px;
}

#title-table {
    font-size: 0.8em;
    padding: 10px;
}

.registro-clase {
    color: #828282;
    padding: 10px;
}

.register {
    border-width: 2px;
    border-style: solid;
    border-color: #E0E0E0;
    height: 65vh;
    width: 30vw;
    border-radius: 8px;
}

#prov-icon, #compra-icon {
    width: 50px;
}

.box-saldo {
    border-width: 2px;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    width: 45vw;
    text-align: end;
    background-color: white;
}

.box-compra, .box-prov {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-compra, #btn-prov {
    border-width: 2px;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 8px;
    background-color: white;
    height: 10vh;
    font-size: 1.1em;
    width: 40vw;
    transition: all 0.4s;
}

#btn-compra:hover, #btn-prov:hover {
    background-color: #0F624A;
    color: white;
}

#compra-icon, #prov-icon {
    margin-right: 20px;
}