@font-face {
    font-family: "Montserrat-Extrabold";
    src: url("../resources/Fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../resources/Fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

* {
    color: #02676F;
    margin: 0;
    font-family: 'Montserrat-Medium';
}

.title-bar {
    height: 15vh;
    background-color: #013D1F;
}

.sidebar {
    width: 15vw;
    height: 85vh;
    background-color: #EDEDED;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 30px;
    display: flex;
}

.box {
    display: flex;
}

h1 {
    font-family: 'Montserrat-Extrabold';
}

#saldo {
    font-family: 'Montserrat-Extrabold';
}

#tabla-registro {
    height: 60vh;
}

th {
    font-size: 0.8em;
}

#divider {
    width: 1px;
    height: 70vh;
    background-color: #0F624A;
    margin-left: 30px;
    margin-right: 30px;
}