<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona General</title>
    <link rel="stylesheet" type="text/css" href="/ventas/Vista_Meseros/Zona_General.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        #title-combo {
            appearance: none;
            color: white;
            background-color: #013D1F;
            border-radius: 2px;
            padding: 10px;
            width: 15%;
            outline: none;
        }
    </style>
</head>
<body>
    <header class="restaurant-header">
        <h1 class="restaurant-title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>

        <div class="Contenido">
            <div class="Tables">
                <div class="titulos"><h2>Salon</h2></div>
                <section class="table-grid">
                    
                    <article class="table-card">
                    <header class="table-header">
                        
                        <h2 class="table-name">MESA 01</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 02</h2>
                        
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 03</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 04</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 05</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 06</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 07</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 08</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                    <header class="table-header">
                        <h2 class="table-name">MESA 09</h2>
                        
                    </header>
                    <p class="table-status">DISPONIBLE</p>
                    </article>
    
                    
    
                </section>
                <div class="titulos"><h2>Bar</h2></div>
                
                <section class="table-grid">
                    
                    <article class="table-card">
                        <header class="table-header">
                            <h2 class="table-name">BAR 01</h2>
                            
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                        <header class="table-header">
                            <h2 class="table-name">BAR 02</h2>
                            
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                        <header class="table-header">
                            <h2 class="table-name">BAR 03</h2>
                            
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                        <header class="table-header">
                            <h2 class="table-name">BAR 04</h2>
                            
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                    </article>
                    <article class="table-card">
                        <header class="table-header">
                            <h2 class="table-name">BAR 05</h2>
                            
                        </header>
                        <p class="table-status">DISPONIBLE</p>
                    </article>
                </section>


            </div>
            
            <aside class="sidebar-right">
                    
                <section class="action-panel">
                    <button class="action-button">Tomar pedido</button>
                    <button class="action-button">Eliminar pedido</button>
                    <button class="action-button">Solicitar factura</button>
                    <div id="divModal"></div>
                    
                </section>
            </aside>
        </div>
        

    
</body>
    <script src="/ventas/Vista_Meseros/Zona_General.js"></script>

</html>