#Global_todos{
    padding: 20px;
    margin: 20px 15px;
    justify-content: center;
}

#Inicial_logo{
    padding: 10px;
    text-align: center;
    padding: 15px;
}

#Recipiente_div{
    background-color: #828282;
    margin: 15px 20px;
    padding: 15px;
    width: 1170px;
    height: 75%;
    text-align: center;
}

#tipo_formulario{
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
}

#Actual_tabla{
    font-size: 12px;
}

#Button_formulario_Volver{
    margin:0px 60px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  
#Button_formulario_Volver:hover {
    background-color: #45a049;
}

#Button_formulario_Agregar{
    margin:0px 60px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  
#Button_formulario_Agregar:hover {
    background-color: #45a049;
}

#Agregar_mas_trabajador{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}

/*los siguientes son para la parte sobre agregar*/
#centrar_titulo{
    width: 800px;
    align-items: center;
    width: 100%;
}

#cambia_para_izquierda{
    display: inline-block;
    background-color: white;
    padding: 15px 30px;
    width: 90%;
    text-align: left;    
}

.Ingreso_Inf_Trabajador{
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#cambia_para_izquierda{
    display: inline-block;
}

#Button_entregar_formulario{
    margin:0px 60px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Button_entregar_formulario{
    background-color: #45a049;
}

#Button_formulario_Inicio{
    margin:0px 60px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Button_formulario_Inicio:hover {
    background-color: #45a049;
}

#vistaReportes{
    display: none;
}

.forms{
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

.inputText{
    width: 70%;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.textArea{
    resize: none;
    height:200px;
    width: 70%;
}

#Button_formulario_EliminarReporte{
    background-color: #fb5252;
    transition: all 0.3s linear;
}

#Button_formulario_EliminarReporte:hover{
    background-color: #ff0000;
}