<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/horarios.css">
        <link rel="stylesheet" href="assets/style.css">
        <title>Recursos Humanos</title>
    </head>
    <body>
        <header class="header">
            <h1 class="restaurant-name">BISTROT CHEZ RÉMY</h1>
        </header>
        <div class="content-wrapper">
            <div class="main-content">
                <nav class="sidebar">
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8aeb03e907893948abf056ea4cd71ca94895e19e6380045d3aaff552cb4b4116?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Home icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Inicio
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/07a7b3b0c82f76b259051b3c06e22579ada99c42b0bac25e83773ec5c9c15edc?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Sales icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Ventas/Salon
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a0fc2e002b9d26adb97ce39f9f1705d7df3e9a386ef4cbb45dc7f6a8bcff7895?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Purchases icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Compras
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b28cd707f6670c8eb27c51e2dc84c517381eb9a1292c051fdec16cfb5e5375b?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="HR icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">RRHH
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d06c0ce42016c9edd479c3398d1198fd645e2097b5d85e2d6008e6a588a30072?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Inventory icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Inventario
                        </li>
                        <li class="nav-item">
                            <img src="css/img/icono_mantenimiento.png">
                            <span class="nav-text">Mantenimiento
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/65420d7b2fa9eda8e903f8608c86b007d3391d54045913100876705c1962068d?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Kitchen icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Cocina/Bar
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc6e42d71ff47b147816c83b4b0ca04935a942e5800885d2c3605a52a7a5eb51?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Reservations icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Reservas
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9902f1c16af56e6c7ea24d201e76d77657ebc5769994165240feb6861cdfbc7e?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Reports icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Reportes
                        </li>
                        <li class="nav-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/24c6e997e8d79345382a5dec7f629f61217e270de7c0903529b6f377fec8320a?apiKey=73f26e45aadd4c6daebacd128a11da2a&" alt="Settings icon" class="nav-icon" loading="lazy">
                            <span class="nav-text">Configuraciones
                        </li>
                        <li class="help-item">
                            <div class="help-icon-wrapper">
                                <div class="help-icon">?</div>
                            </div>
                            <span class="nav-text">Ayuda
                        </li>
                    </ul>
                </nav>

                <div class="lista">
                    <h2 class="listaEmpleados">Horario</h3>
                    <div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="encabezado">Nombre</th>
                                    <th scope="col" class="encabezado">Cargo</th>
                                    <th scope="col" class="encabezado">Hora de Entrada</th>
                                    <th scope="col" class="encabezado" style="width: 200px;">Hora Salida</th>
                                </tr>
                                <tr>
                                    <th scope="col" class="info">Pakita</th>
                                    <th scope="col" class="info">Gerente</th>
                                    <th scope="col" class="info"></th>
                                    <th scope="col" class="info"></th>
                                </tr>
                            </thead>
                            <a href="rrhh.html" class="regresar">Regresar</a>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/horarios.js"></script>
    </body>
</html>