<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rrhh/assets/style.css">
    <link rel="stylesheet" href="/rrhh/assets/horarios.css">
    <link rel="stylesheet" href="/assets/header.css">
    <link rel="stylesheet" href="/assets/side.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
    <script src="/assets/user.js" defer></script>
    <script src="/assets/side.js" defer></script>
    <script src="/rrhh/js/informe.js" defer></script>
    <title>Recursos Humanos</title>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <div class="content-wrapper">
        <div class="main-content">
            <div id="sidebar">
                <div class="side inicio">
                    <img src="/Compras/resources/iconos_barra/inicio-green.png" class="side-foto">
                    <p class="side-option">Inicio</p>
                </div>
                <div class="side ventas">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/ventas-green.png">
                    <p class="side-option">Ventas/Salon</p>
                </div>
                <div class="side compras">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/compras-green.png">
                    <p class="side-option">Compras</p>
                </div>
                <div class="side rrhh">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/person-green.png">
                    <p class="side-option">RRHH</p>
                </div>
                <div class="side inventario">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/inventario-green.png">
                    <p class="side-option">Inventario</p>
                </div>
                <div class="side mantent">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/mantenimiento-green.png">
                    <p class="side-option">Mantenimiento</p>
                </div>
                <div class="side cocina">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/cocina-green.png">
                    <p class="side-option">Cocina/Bar</p>
                </div>
                <div class="side reserv">
                    <img class="side-foto" src="/Compras/resources/iconos_barra/reservas-green.png">
                    <p class="side-option">Reservas</p>
                </div>
            </div>

            <main class="content-area">
                <h1 class="page-title">Recursos Humanos</h1>
                
                <div class="table-actions">
                    <button class="action-button"><a href="/rrhh/form">Agregar</a></button>
                    <button class="action-button"><a href="/rrhh/entradas">Registro</a></button>
                    <button class="action-button"><a href="/rrhh/ausensias">Ausencias</a></button>
                    <button class="action-button"><a href="/rrhh/Horarios">Horarios</a></button>
                    <button class="action-button on"><a href="/rrhh/informe">Informe</a></button>
                    <button class="action-button"><a href="/rrhh/solicitudes">Solicitudes</a></button>

                </div>
                <div class="lista">
                    <div>
                        <h2>Fecha</h2>
                        <input type="date" id="fecha-input">
                    </div>
                    <div class="tablainfo">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="encabezado">Cedula</th>
                                    <th scope="col" class="encabezado">Nombre</th>
                                    <th scope="col" class="encabezado">Primer Marcaje</th>
                                    <th scope="col" class="encabezado">Último Marcaje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
